<template>

<div class="card-body" id="kt_chat_messenger_body">
    <div class="scroll-y me-n5 pe-5 h-300px h-lg-auto"
         data-kt-element="messages" data-kt-scroll="true"
         data-kt-scroll-activate="{default: false, lg: true}"
         data-kt-scroll-max-height="auto"
         data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer"
         data-kt-scroll-wrappers="#kt_content, #kt_chat_messenger_body" data-kt-scroll-offset="-2px" >

        <template v-if="messagesRender.length">

                <template v-for="(message, i) in messagesRender">

                    <div v-if="setDateDelimiter(message, i)" class="messages-date-delimiter">
                        <div class="_left"></div>
                        <div> {{message.created_at.split(' ')[1]}}</div>
                        <div class="_right"></div>
                    </div>

                    <template v-if="message?.sender?.id != currentUser.id" >
                        <!--begin::Message(in)-->
                        <div class="d-flex justify-content-start mb-10">
                            <div class="d-flex flex-column align-items-start">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="symbol symbol-35px symbol-circle">
                                        <set-show-avatar :item="message.sender"></set-show-avatar>
                                    </div>
                                    <div class="ms-3">
                                        <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1"  >
                                            {{ message.sender.username }}
                                        </a>
                                        <span class="text-muted fs-7 mb-1" style="margin-left: 10px"> | {{message.created_at}}</span>
                                    </div>
                                </div>

                                <div class="p-5 rounded bg-light-info text-dark fw-bold mw-lg-400px text-start"
                                     data-kt-element="message-text"> {{message.message}} </div>

                                <ShowMessageFiles :files="message.files" type="in" />

                            </div>
                        </div>
                        <!--end::Message(in)-->
                    </template>
                    <template v-else >
                        <!--begin::Message(out)-->
                        <div class="d-flex justify-content-end mb-10">
                            <div class="d-flex flex-column align-items-end">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="me-3">
                                        <span class="text-muted fs-7 mb-1" style="margin-right: 10px">{{message.created_at}} | </span>
                                        <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1"> Вы </a>
                                    </div>
                                    <div class="symbol symbol-35px symbol-circle">
                                        <set-show-avatar :item="message.sender"></set-show-avatar>
                                    </div>
                                </div>
                                <div class="p-5 rounded bg-light-primary text-dark fw-bold mw-lg-400px text-end"
                                     data-kt-element="message-text" > {{message.message}} </div>

                                <ShowMessageFiles :files="message.files" type="out" />

                                <div v-if="message.read" >
                                    <span class="text-muted fs-7 mb-1"
                                          style="font-style: italic; font-size: 9px !important; color: green !important;">
                                          прочитано : {{message.updated_at}}
                                    </span>
                                </div>

                            </div>
                        </div>
                        <!--end::Message(out)-->
                    </template>

            </template>

        </template>
        <template v-else >

            <div style="font-weight: bold; text-align: center; font-size: 18px"> Нет собщений</div>

        </template>

</div></div>

</template>

<script setup>

import ShowMessageFiles from '@/components/chat-messenger/ShowMessageFiles.vue';

import {computed} from "vue";

import useMainHelper from "@/composables/useMainHelper.js";
const { messengerStore, userStore, API_ROUTES, getMessages } = useMainHelper();

const messagesRender = computed(() => {
    return messengerStore.messages;
});

const currentUser = computed(() => {
    return userStore.currentUser
});

const setDateDelimiter = (message, index) => {
    if(!parseInt(index)) return true;

    index--;
    let lastDate = message.created_at.split(' ')[1];
    let prevMessage = messengerStore.messages[index];
    let prevDate = prevMessage.created_at.split(' ')[1];
    return (lastDate == prevDate) ? false : true;
}

</script>

<style scoped>

.messages-date-delimiter {
    display: flex;
    margin-bottom: 8px;
}

.messages-date-delimiter div {
    width: 36%;
    text-align: center;
    color: grey;
}

.messages-date-delimiter ._left,
.messages-date-delimiter ._right{
    /*background: gainsboro;*/
    border: 1px gainsboro dotted;
    width: 32%;
    height: 1px;
    margin-top: 8px;
}

</style>
