<template>

    <div v-if="filesFiltered.files.length" class="overflow-auto pb-2 mt-2">
        <div class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-700px p-3">

            <div class="files-show-container" :class="[type == 'in' ? 'in-files': '']">
                <a v-for="(file) in filesFiltered.files"
                   :href="setFileUrl(file.path)"
                   class="mt-2 file-show-box">

                    <SetSvgImage :file_name="file.path" />

                    <span class="svg-icon svg-icon-3" style="margin-left: 5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                             version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path
                                    d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z"
                                    fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                <rect fill="#000000" opacity="0.3"
                                      transform="translate(12.000000, 8.000000) rotate(-180.000000) translate(-12.000000, -8.000000)"
                                      x="11" y="1" width="2" height="14" rx="1"></rect>
                                <path
                                    d="M7.70710678,15.7071068 C7.31658249,16.0976311 6.68341751,16.0976311 6.29289322,15.7071068 C5.90236893,15.3165825 5.90236893,14.6834175 6.29289322,14.2928932 L11.2928932,9.29289322 C11.6689749,8.91681153 12.2736364,8.90091039 12.6689647,9.25670585 L17.6689647,13.7567059 C18.0794748,14.1261649 18.1127532,14.7584547 17.7432941,15.1689647 C17.3738351,15.5794748 16.7415453,15.6127532 16.3310353,15.2432941 L12.0362375,11.3779761 L7.70710678,15.7071068 Z"
                                    fill="#000000" fill-rule="nonzero"
                                    transform="translate(12.000004, 12.499999) rotate(-180.000000) translate(-12.000004, -12.499999)"></path>
                            </g>
                        </svg>
                    </span>

                    <div class="fw-bolder text-primary">{{ file.title }}</div>

                </a>
            </div>

        </div>
    </div>

    <div v-if="filesFiltered.photos.length" class="overflow-auto pb-2 mt-2">
        <div class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-700px p-1">

            <div class="files-show-container" :class="[type == 'in' ? 'in-files': '']" >
                <a v-for="(file) in filesFiltered.photos"
                   class="symbol symbol-100px mt-2 img-show-box">
                    <img :src="setFileUrl(file.path)" class="theme-light-show" alt="">
                    <div class="fw-bolder text-primary">{{ file.title }}</div>
                </a>
            </div>

        </div>
    </div>

</template>

<script setup>

import SetSvgImage from '@/components/common/SetSvgImage.vue';

import {computed, reactive} from "vue";

const props = defineProps(['files', 'type'])

import useMainHelper from "@/composables/useMainHelper.js";

const {setFileUrl} = useMainHelper();

const filesList = reactive({
    files: [],
    photos: [],
})

const filesFiltered = computed(() => {
    filesSeparation()
    return filesList;
})


const imgTypes = {
    jpg: 'jpg', JPG: 'JPG', png: 'png', PNG: 'PNG', ico: 'ico', svg: 'svg'
}

const assertsUrl = '/resources/js/src/assets';

const fileTypes = {
    'txt': assertsUrl + '/media/svg/files/pdf.svg',
    'pdf': assertsUrl + '/media/svg/files/pdf.svg',
    'doc': assertsUrl + '/media/svg/files/doc.svg',
    'docx': assertsUrl + '/media/svg/files/doc.svg',
    'xlsx': assertsUrl + '/media/svg/files/pdf.svg',
    'xls': assertsUrl + '/media/svg/files/pdf.svg',
    'file': assertsUrl + '/media/icons/duotone/files/File.svg',
}

const filesSeparation = () => {

    const files = props.files;

    for (let i in files) {
        let file = files[i];
        let ext = file.ext;
        if (imgTypes[ext]) filesList.photos.push(file);
        else {
            if (fileTypes[ext]) {
                filesList.files.push(file);
            } else {
                filesList.files.push(file);
            }
        }
    }
}


</script>

<style scoped>

.files-show-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.in-files {
    margin-left: 0px;
}

.file-show-box, .img-show-box {
    display: block;
    width: 80px;
    padding: 2px;
    margin: 2px;
    font-size: 9px;
    overflow: hidden;
    /*border: 1px red solid;*/
}

.file-show-box img {
    width: 25px
}

.img-show-box img {
    /*width: 100px !important;*/
}

</style>
