<template>

<!--    <pre>{{userModel}}</pre>-->

    <!---- ПАРОЛЬ / EMAIL UPDATE   ----->
    <div class="card pt-4 mb-6 mb-xl-9">

        <div class="card-header border-0">
            <div class="card-title"><h2> Безопасность </h2></div>
        </div>

        <div class="card-body pt-0 pb-5">
            <div class="table-responsive">

                <table class="table align-middle table-row-dashed gy-5" id="kt_table_users_login_session">
                    <tbody class="fs-6 fw-bold text-gray-600">
                        <tr>
                            <td>Email</td>
                            <td><input v-model="newEmailAddress" class="form-control form-control-solid" placeholder="Email" />
                                <div v-if="validateErrors.email" style="color: red; font-size: 10px">{{validateErrors.email}}</div>
                            </td>
                            <td class="text-end">
                                <button @click="changeEmail" type="button" class="btn btn-icon btn-active-light-primary w-150px h-30px ms-auto" >
                                    <span class="svg-icon svg-icon-3" style="margin-right: 10px" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <rect opacity="0.25" x="3" y="21" width="18" height="2" rx="1" fill="#191213" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.08576 11.5L3.58579 12C3.21071 12.375 3 12.8838 3 13.4142V17C3 18.1045 3.89543 19 5 19H8.58579C9.11622 19 9.62493 18.7893 10 18.4142L10.5 17.9142L4.08576 11.5Z" fill="#121319" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 10.0858L11.5858 4L18 10.4142L11.9142 16.5L5.5 10.0858Z" fill="#121319" />
                                            <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M18.1214 1.70705C16.9498 0.535476 15.0503 0.535476 13.8787 1.70705L13 2.58576L19.4142 8.99997L20.2929 8.12126C21.4645 6.94969 21.4645 5.0502 20.2929 3.87862L18.1214 1.70705Z" fill="#191213" />
                                        </svg>
                                    </span> Изменить email
                                </button>
                            </td>
                        </tr>
                        <tr><td> Пароль </td>
                            <td><div style="display: flex">
                                  <input v-model="newPassword.password" class="form-control form-control-solid" placeholder="Пароль" style="margin-right: 5px" />
                                   <input v-model="newPassword.password_confirmation" class="form-control form-control-solid" placeholder="Повторить пароль"  />
                                </div>
                                <div v-if="validateErrors.password"
                                     style="color: red; font-size: 10px">{{validateErrors.password}}</div>
                            </td>
                            <td class="text-end">
                                <button @click="changePassword" type="button" class="btn btn-icon btn-active-light-primary w-150px h-30px ms-auto">
                                    <span class="svg-icon svg-icon-3" style="margin-right: 10px">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <rect opacity="0.25" x="3" y="21" width="18" height="2" rx="1" fill="#191213" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.08576 11.5L3.58579 12C3.21071 12.375 3 12.8838 3 13.4142V17C3 18.1045 3.89543 19 5 19H8.58579C9.11622 19 9.62493 18.7893 10 18.4142L10.5 17.9142L4.08576 11.5Z" fill="#121319" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 10.0858L11.5858 4L18 10.4142L11.9142 16.5L5.5 10.0858Z" fill="#121319" />
                                            <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M18.1214 1.70705C16.9498 0.535476 15.0503 0.535476 13.8787 1.70705L13 2.58576L19.4142 8.99997L20.2929 8.12126C21.4645 6.94969 21.4645 5.0502 20.2929 3.87862L18.1214 1.70705Z" fill="#191213" />
                                        </svg>
                                    </span>
                                    Изменить пароль
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!---- ОСНОВНАЯ ИНФОРМАЦИЯ   ----->
    <div class="card card-flush mb-6 mb-xl-9">

        <!---- Заголовок   ----->
        <div class="card-header mt-6">
            <div class="card-title flex-column">
                <h2 class="mb-1"> Основная информация </h2>
                <div class="fs-6 fw-bold text-gray-400"> </div>
            </div>

            <div class="card-toolbar">
                <button @click="userUpdate()" type="button" class="btn btn-light-primary btn-sm">
                    <span class="svg-icon svg-icon-3">
                        <svg xmlns="http://www.w3.org/2000/svg"  width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M19.5,10.5 L21,10.5 C21.8284271,10.5 22.5,11.1715729 22.5,12 C22.5,12.8284271 21.8284271,13.5 21,13.5 L19.5,13.5 C18.6715729,13.5 18,12.8284271 18,12 C18,11.1715729 18.6715729,10.5 19.5,10.5 Z M16.0606602,5.87132034 L17.1213203,4.81066017 C17.7071068,4.22487373 18.6568542,4.22487373 19.2426407,4.81066017 C19.8284271,5.39644661 19.8284271,6.34619408 19.2426407,6.93198052 L18.1819805,7.99264069 C17.5961941,8.57842712 16.6464466,8.57842712 16.0606602,7.99264069 C15.4748737,7.40685425 15.4748737,6.45710678 16.0606602,5.87132034 Z M16.0606602,18.1819805 C15.4748737,17.5961941 15.4748737,16.6464466 16.0606602,16.0606602 C16.6464466,15.4748737 17.5961941,15.4748737 18.1819805,16.0606602 L19.2426407,17.1213203 C19.8284271,17.7071068 19.8284271,18.6568542 19.2426407,19.2426407 C18.6568542,19.8284271 17.7071068,19.8284271 17.1213203,19.2426407 L16.0606602,18.1819805 Z M3,10.5 L4.5,10.5 C5.32842712,10.5 6,11.1715729 6,12 C6,12.8284271 5.32842712,13.5 4.5,13.5 L3,13.5 C2.17157288,13.5 1.5,12.8284271 1.5,12 C1.5,11.1715729 2.17157288,10.5 3,10.5 Z M12,1.5 C12.8284271,1.5 13.5,2.17157288 13.5,3 L13.5,4.5 C13.5,5.32842712 12.8284271,6 12,6 C11.1715729,6 10.5,5.32842712 10.5,4.5 L10.5,3 C10.5,2.17157288 11.1715729,1.5 12,1.5 Z M12,18 C12.8284271,18 13.5,18.6715729 13.5,19.5 L13.5,21 C13.5,21.8284271 12.8284271,22.5 12,22.5 C11.1715729,22.5 10.5,21.8284271 10.5,21 L10.5,19.5 C10.5,18.6715729 11.1715729,18 12,18 Z M4.81066017,4.81066017 C5.39644661,4.22487373 6.34619408,4.22487373 6.93198052,4.81066017 L7.99264069,5.87132034 C8.57842712,6.45710678 8.57842712,7.40685425 7.99264069,7.99264069 C7.40685425,8.57842712 6.45710678,8.57842712 5.87132034,7.99264069 L4.81066017,6.93198052 C4.22487373,6.34619408 4.22487373,5.39644661 4.81066017,4.81066017 Z M4.81066017,19.2426407 C4.22487373,18.6568542 4.22487373,17.7071068 4.81066017,17.1213203 L5.87132034,16.0606602 C6.45710678,15.4748737 7.40685425,15.4748737 7.99264069,16.0606602 C8.57842712,16.6464466 8.57842712,17.5961941 7.99264069,18.1819805 L6.93198052,19.2426407 C6.34619408,19.8284271 5.39644661,19.8284271 4.81066017,19.2426407 Z" fill="#000000" fill-rule="nonzero" opacity="0.5"/>
                            </g>
                        </svg>
                    </span> Обновить страницу
                </button>

                <button @click.prevent="userUpdate()" type="button" class="btn btn-light-primary btn-sm" style="margin-left: 20px">
                      Сохранить
                </button>

            </div>
        </div>

        <!---- Данные  ----->
        <div class="card-body p-9 pt-4">
            <div class="tab-content">
                <div class="collapse show">

                    <div class="d-flex flex-column mb-7 fv-row">
                        <label class="fs-6 fw-bold mb-2"> Имя </label>
                        <input v-model="userModel.username" class="form-control form-control-solid" placeholder="Имя"/>
                        <div v-if="validateErrors?.username" class="error-validate-box" >{{validateErrors.username}}</div>
                    </div>

                    <div class="d-flex flex-column mb-7 fv-row">
                        <label class="fs-6 fw-bold mb-2"> Телефон </label>
                        <input v-model="userModel.phone" class="form-control form-control-solid" placeholder="Телефон"  />
                        <div v-if="validateErrors?.phone" class="error-validate-box" >{{validateErrors.phone}}</div>
                    </div>

                    <div class="d-flex flex-column mb-7 fv-row">
                        <label class="fs-6 fw-bold mb-2"> Профессия </label>
                        <input v-model="userModel.profession" class="form-control form-control-solid" placeholder="Профессия"/>
                    </div>

                    <div class="d-flex flex-column mb-7 fv-row">
                        <label class="fs-6 fw-bold mb-2"> Адрес </label>
                        <input v-model="userModel.address" class="form-control form-control-solid" placeholder="Адрес"  />
                    </div>

                    <div class="d-flex flex-column mb-7 fv-row">
                        <label class="fs-6 fw-bold mb-2"> Комментарии </label>
                        <textarea v-model="userModel.note" class="form-control form-control-solid"
                                  placeholder="Комментарии" ></textarea>
                    </div>

                    <div class="separator" style="margin-top: 30px"></div>

                    <div class="d-flex justify-content-end align-items-center mt-8">
                        <button type="button" class="btn btn-light me-5" id="kt_users_email_notification_cancel"> Отменить</button>
                        <button @click="userUpdate()" type="button" class="btn btn-primary" id="kt_users_email_notification_submit">
                            <span class="indicator-label"> Сохранить </span>
                            <span class="indicator-progress">Please wait...
							                 <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>

                    <!------------------
                    <div class="row g-9 mb-7">
                        <div class="col-md-6 fv-row">
                            <label class="fs-6 fw-bold mb-2">State / Province</label>
                            <input class="form-control form-control-solid" placeholder=""  />
                        </div>

                        <div class="col-md-6 fv-row">
                            <label class="fs-6 fw-bold mb-2">Post Code</label>
                            <input class="form-control form-control-solid" placeholder=""  />
                        </div>
                    </div>

                    <div class="d-flex flex-column mb-7 fv-row">
                        <label class="fs-6 fw-bold mb-2"><span>Country</span></label>
                        <select class="form-select form-select-solid" >
                            <option value="">Select a Country...</option>
                            <option value="AF">Afghanistan</option>
                            <option value="AX">Aland Islands</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                        </select>
                    </div>
                    -------------------->

                </div>
            </div>
        </div>

    </div>

</template>

<script setup >

import {computed, reactive, ref} from "vue";

import useMainImport from "@/composables/useMainImport.js";
const { userStore, messengerStore, API_ROUTES, useMain } = useMainImport();
const { setFileUrl, sendRoute, notify } = useMain()

// ----- DATA ------
const newEmailAddress = ref(userStore.currentUser.email)
const validateErrors = ref({})
const userItem = ref({})

const userModel = computed(() => {
    userItem.value = Object.assign({}, userStore.currentUser)
    return userItem.value
})

const newPassword = reactive({
    password: '',
    password_confirmation: '',
});

// ----- COMPUTED ------
const currentUser = computed(() => {
    return userStore.currentUser;
})

// ----- METHODS ------
const changeEmail = () => {
    validateErrors.value = {};
    const data = { 'email': newEmailAddress.value }
    sendRoute('changeEmail', data).then(response => {
         const { status, data } = response;
        if(status){
          getCurrentUser()
          notify('Почта изменена', 1);
        }
    }).catch(errorResponse => {
        validateErrors.value = errorResponse?.validate_errors;
    })
}

const changePassword = () => {
    validateErrors.value = {};
    sendRoute('changePassword', newPassword).then(response => {
        const { status, data } = response;
        if(status){
          getCurrentUser()
          notify('Пароль изменен', 1);
        }
    }).catch(errorResponse => {
        validateErrors.value = errorResponse?.validate_errors;
    })
}

const getCurrentUser = () => {
    sendRoute('getCurrentUser').then(current => {
        const { status, data } = current;
        if(status) userStore.currentUser = data?.user
    })
}

const userUpdate = () => {
    validateErrors.value = {};
    const data = userModel.value;
    sendRoute('userUpdate', data).then(response => {
        const { status, data } = response;
        if(!status) {
          notify('Не удалось обновить данные', 2);
          return false;
        }
        getCurrentUser();
        notify('Данные пользователя обновлены', 1);
    }).catch(errorResponse => {
        validateErrors.value = errorResponse?.validate_errors;
    })
}

// ----- CREATED ------

</script>

<style scoped>

.error-validate-box {
    color: red; font-size: 10px;
}
</style>
