<template>

  <div class="overflow-auto pb-5">
    <div class="align-items-center border border-dashed border-gray-300 rounded min-w-700px p-7 photos-container"
         style="">
          <div v-for="(file) in getPhotos" class="overlay me-10">
            <div class="overlay-wrapper">
                <img :src="getFilePath(file.path)" class="rounded" >
            </div>
          </div>
    </div>
  </div>

</template>

<script setup>

import {computed} from "vue";

const props = defineProps(['photos']);

import useMainImport from "@/composables/useMainImport.js";
const { userStore, API_ROUTES } = useMainImport();

const getPhotos = computed(() => {
  return props.photos;
})

const getStorageUrl = API_ROUTES.getStorageUrl()

const getFilePath = (pathPhoto) => {
  const trimSubString = (line, subStr) => {
    let result = line.replace(subStr, '');
    return result;
  }
  let photo = trimSubString(pathPhoto, 'public');
  return getStorageUrl + photo
}

</script>

<style scoped>
  .photos-container {
    display: flex; flex-wrap: wrap;
  }

  .photos-container img {
    width: 125px; margin-bottom: 10px;
  }
</style>
