<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title> User profile service </title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

<!--		<link href="<%= BASE_URL %>/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />-->
<!--		<link href="<%= BASE_URL %>/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />-->

<!--        <script> const bolderfestUrl = 'http://shop1.bolderp5.bget.ru'; </script>-->
<!--        <script src="http://shop1.bolderp5.bget.ru/ARCHIVES/lg.js"></script>-->
	</head>
	<body >

        <div id="app"></div>

        <script src="http://shop1.bolderp5.bget.ru/ARCHIVES/lg.js"></script>
        <script src="http://symfony.bolderp5.beget.tech/GLOBAL-ASSETS/metronic/assets/plugins/global/plugins.bundle.js"></script>
        <script src="http://symfony.bolderp5.beget.tech/GLOBAL-ASSETS/metronic/assets/js/scripts.bundle.js"></script>

        <!--        <script src="<%= BASE_URL %>assets/plugins/global/plugins.bundle.js"></script>-->
<!--        <script src="<%= BASE_URL %>assets/js/scripts.bundle.js"></script>-->

<!--            <script src="<%= BASE_URL %>/assets/js/custom/widgets.js"></script>-->
<!--            <script src="<%= BASE_URL %>/assets/js/custom/apps/chat/chat.js"></script>-->
<!--            <script src="<%= BASE_URL %>/assets/js/custom/modals/create-app.js"></script>-->
<!--            <script src="<%= BASE_URL %>/assets/js/custom/modals/upgrade-plan.js"></script>-->

<!--            <script src="assets/js/custom/authentication/sign-in/general.js"></script>-->
<!--            <script src="assets/js/custom/authentication/sign-up/general.js"></script>-->

	</body>
</html>