<template>

    <div v-if="props.hover < 5 " class="span-shadow" >
      <button :class="'btn-hover-effect ' + setClass"  > <slot></slot> </button>
    </div>
    <p v-else  class="span-shadow" >
      <span :class="'btn-hover-effect ' + setClass" > <slot></slot> </span>
    </p>

</template>

<script setup>

import {computed} from "vue";

const props = defineProps(['hover'])

const btnClass = {
  1 : 'square-out',
  2 : 'shadow-live',
  3 : 'square-in',
  4 : 'square-list',
}

const setClass = computed(() => {
   let hover = props.hover;
   if(hover > 4) {
      switch (hover) {
         case '5' : hover = 1; break;
         case '6' : hover = 2; break;
         case '7' : hover = 3; break;
         case '8' : hover = 4; break;
      }
   }

   let className = btnClass[hover];

   return className
})

</script>

<style >

/***** КНОПКИ  *****/

.span-shadow {
  text-align: center;
  width: 100px; margin:0px auto 0px auto
}

.span-shadow .btn-hover-effect {
  display: inline-block;
  margin: 5px;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 0px;
  transition: .2s linear;
  color: white;
  background: #337ab7;
  width:100%
}

.span-shadow .square-out {
  background: #3A2F28
}

.span-shadow .square-out:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #3A2F28;
}

.span-shadow .shadow-live {
  background: #C1F1E4
}

.span-shadow .shadow-live:hover {
  box-shadow: 200px 0 0 0 rgba(0, 0, 0, .3) inset;
}

.span-shadow .square-in {
  background: #D2973D
}

.span-shadow .square-in:hover {
  box-shadow: 0 0 0 2px #D2973D inset, 0 0 0 4px white inset;
}

.span-shadow .square-list {
  background: #C76637;
  position: relative;
  top: 0;
  left: 0;
}

.span-shadow .square-list:hover {
  box-shadow: 2px 2px white, 4px 4px #C76637;
  top: -4px;
  left: -4px;
}

/****  .КНОПКИ  *****/

.span-shadow .square-in:hover {
  box-shadow: 0 0 0 2px #1946BA inset, 0 0 0 4px white inset;
}

</style>
