<template>

<div :class="'col-lg-' +model.col+ ' fv-row fv-plugins-icon-container'"
       style="border: 0px red solid">

       <div :class="'label-style-' + model.display" style="">

           <label :class="requiredClass + ' fs-5 fw-bold mb-2'"
                  :style="'width:' + wLabel + '%'" > {{model.label}} </label>

           <template v-if="model.type == 'text' || model.type == 'date' || model.type == 'email'">

               <input class="form-control form-control-solid"
                      :type="model.type"
                      :value="modelValue"
                      :placeholder="model.label"
                      :readonly="model.readonly"
                      :required="model.required"
                      @input="$emit('update:modelValue', $event.target.value)" />

           </template>
           <template v-else-if="model.type == 'textarea'">

               <textarea class="form-control form-control-solid"
                         :value="modelValue"
                         :placeholder="model.label"
                         :readonly="model.readonly"
                         :required="model.required"
                         @input="$emit('update:modelValue', $event.target.value)"></textarea>

           </template>
           <template v-else-if="model.type == 'radio'">

             <div class="d-flex gap-2 radio-container" >
               <div v-for="(title, index) in model.params"
                    class="form-check form-check-custom form-check-success form-check-solid form-check-sm">
                   <input class="form-check-input"
                          type="radio"
                          :name="fname"
                          :checked="setChecked(index)"
                          :readonly="model.readonly"
                          :value="index"
                          :id="'checkbox-' + fname + index"
                          @input="$emit('update:modelValue', $event.target.value)" />
                   <label :for="'checkbox-' + fname + index" class="form-check-label text-gray-700 fw-bold text-nowrap"  >
                          {{title}}
                   </label>
               </div>
             </div>

           </template>
           <template v-else-if="model.type == 'checkbox'">

             <div class="d-flex checkbox-container">
               <label class="form-check form-check-custom form-check-solid">
                 <input class="form-check-input h-20px w-20px" type="checkbox"
                        :value="modelValue"
                        :readonly="model.readonly"
                        :required="model.required"
                        @input="$emit('update:modelValue', $event.target.value)" />
                 <span class="form-check-label fw-semibold"></span>
               </label>
             </div>

           </template>
           <template v-else-if="model.type == 'select'">

               <select
                   class="form-select form-select-solid form-select-lg fw-bold"
                   @change="$emit('update:modelValue', $event.target.value)" >

                   <option v-for="(elem) in model.params"
                           :value="setSelectParam(1, elem)" >{{ setSelectParam(2, elem) }}</option>
               </select>

           </template>

       </div>

       <div class="fv-plugins-message-container invalid-feedback"></div>

</div>

</template>

<script setup>

import {onBeforeMount, ref} from "vue";

const props = defineProps({
  modelValue: String | Number,
  model : { type: Object,  required: true },
  wLabel: { type: String,  default : '30'},
  label : { type: String,  default : '' },
  fname : { type: String,  default : 'f-name'},
})

defineEmits(['update:modelValue']);

const {model, label} = props;
const requiredClass = ref('')

const defaultModel = {
  type: 'text',
  label: null,
  required: false,
  display: 'block',
  readonly: false,
  col: 12,
}

const setSelectParam = (num, list) => {
   let ch = 1;
   for(let name in list) {
     if(num == ch) return list[name];
     ch++;
   }
}

const setChecked = (index) => {
  return (props.modelValue == index) ? true : false;
}

const init = () => {
  for (let name in defaultModel) {
    if (model[name]) continue;
    model[name] = defaultModel[name];
  }
  if (!model?.label) model.label = label;
  if(model?.required) requiredClass.value = 'required';
}

onBeforeMount(() => {
  init()
})

</script>

<style scoped >

  .label-style-block {
    display: block;
  }


  .label-style-flex {
     display: flex;
  }

  .label-style-flex label {
     width:30%;
     margin-right: 10px;

  }

  .label-style-flex input,
  .label-style-flex .checkbox-container,
  .label-style-flex .radio-container{
    width:100%
  }

</style>



