<template>
  <div v-if="status" @click="clear"
       class="blog-details-content">

    <div v-for="(message) in messages"
         class="notification-container"
         :style="'background:' + color">
      <div v-html="message"></div>
    </div>

  </div>
</template>

<script setup>

import {ref} from "vue";
import tineEmitter from 'tiny-emitter/instance';

const status   = ref(false)
const type     = ref(1);
const color    = ref('green');
const messages = ref([]);

tineEmitter.on('SEND-NOTIFY', data => {

  status.value = true;
  type.value  = (data?.type)  ?  data.type : 1;
  color.value = (data?.color) ? data.color : 'green';
  switch (parseInt(type.value)) {
      case 1 : color.value  = 'green'; break;
      case 2 : color.value  = 'red'; break;
      case 3 : color.value  = ''; break;
  }

  messages.value.push(data.message);
  close();

})

const close = () => {
  setTimeout(() => {
    clear()
  }, 7000)
}

const clear = () => {
  status.value = false;
  type.value   = 1;
  color.value  = 'green';
  messages.value = [];
}

</script>

<style scoped>

.blog-details-content {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 5px !important;
  opacity: 0.9;
}

.notification-container {
  width: 20%;
  text-align: center;
  padding: 6px;
  border: 0px;
  border-radius: 0px;
  border: 1px white solid !important;
  margin-left: 79%;
  margin-bottom: 2px;
  color: white;
}

</style>
