<template>
  <!---- Пагинация ---->
  <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
    <div class="dataTables_paginate paging_simple_numbers" >
      <ul class="pagination">

        <li class="paginate_button page-item previous" >
          <a @click="pageTo(1)" href="#" class="page-link"><i class="previous"></i></a>
        </li>

        <template v-for="(num) in getPageInfo.paginator">

          <li v-if="getPageInfo.from == num" class="paginate_button page-item active">
            <a @click="pageTo(num)" href="#" class="page-link">{{num}}</a>
          </li>
          <li v-else class="paginate_button page-item">
            <a @click="pageTo(num)" href="#" class="page-link"> {{num}} </a>
          </li>

        </template>

        <li class="paginate_button page-item next" >
          <a @click="pageTo(getPageInfo.last_page)" href="#" class="page-link"><i class="next"></i></a>
        </li>

      </ul>
    </div>
  </div>
  <!---- Пагинация ---->
</template>

<script setup>

import {computed, reactive} from "vue";

const props = defineProps(['page'])
const emit = defineEmits(['paginate'])

const pageInfo = reactive({
  from: '',
  total: '',
  last_page: '',
  paginator: [],
})

const pageTo = (pageNum) => {
  emit('paginate', { pageNum } );
}

const getPageInfo = computed(() => {
  createPaginate(props.page)
  return pageInfo;
})

const createPaginate = (data) => {

  // const {
  //   path, from, last_page, per_page, total,
  //   first_page_url, last_page_url, next_page_url, prev_page_url, to,
  // } =  data;

  let paginator = [];
  let last = data.last_page;

  for (let i = 1; i <= last; i++) {
    // if(i == 1) continue;
    paginator.push(i)
  }

  pageInfo.last_page = data.last_page;
  pageInfo.paginator = paginator;
  pageInfo.from  = data.from;
  pageInfo.total = data.total;

}


</script>

<style scoped>

</style>
