<template>

  <div v-if="action == 'start'" class="card card-border overlay overlay-block" style="">
    <div class="card-body">
      <div class="overlay-wrapper p-5" style="text-align: center" >
        Выполняется запрос ....
      </div>
      <div class="overlay-layer card-rounded bg-dark bg-opacity-5">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>

</template>

<script setup>

import {ref} from "vue";

import tineEmitter from 'tiny-emitter/instance';

const action = ref('end')

tineEmitter.on('preloader-action', data => {
  action.value = data.action;
})

</script>

<style scoped>
  .overlay-block {
    border:0px red solid; position: fixed; width: 100%; height: 100%; opacity: 0.5; z-index:9999;
  }
</style>
