<template>

    <img v-if="setAvatar"  :src="setFileUrl(setAvatar)" alt="Avatar" >
    <span v-else class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">{{ setFirstSimbol }}</span>

</template>

<script setup>

import {computed, ref} from "vue";

const props = defineProps(['item'])

import useMainImport from "@/composables/useMainImport.js";
const { messengerStore, useMain } = useMainImport();
const { setFileUrl } = useMain()

const firstSimbol = ref('')

const setAvatar = computed(() => {
    return props.item.avatar
})

const setFirstSimbol = computed(() => {
    firstSimbol.value = getFirstSimbol()
    return firstSimbol.value;
})

const getFirstSimbol = () => {
    let name = messengerStore.pageName == 'user' ? 'username' : 'name';
    let value = (props.item[name]) ? props.item[name].split('')[0] : '';
    return value;
}

</script>

<style scoped>

</style>
