<template>

    <div class="card pt-4 mb-6 mb-xl-9">

        <!--begin::Card header-->
        <div class="card-header border-0">
            <div class="card-title"><h2>Login Sessions</h2></div>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-flex btn-light-primary" >
                                                <span class="svg-icon svg-icon-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.25" d="M13.1409 21.8611C11.5331 21.7101 10.3267 20.4628 10.2092 18.8523C10.0992 17.3432 10 15.118 10 12C10 8.882 10.0992 6.65682 10.2092 5.14773C10.3267 3.5372 11.5331 2.2899 13.1408 2.13886C13.9779 2.06022 14.9589 2 16 2C17.0411 2 18.0221 2.06022 18.8592 2.13886C20.4669 2.2899 21.6733 3.53721 21.7908 5.14773C21.9008 6.65683 22 8.882 22 12C22 15.118 21.9008 17.3432 21.7908 18.8523C21.6733 20.4628 20.4669 21.7101 18.8591 21.8611C18.0221 21.9398 17.0411 22 16 22C14.9589 22 13.9779 21.9398 13.1409 21.8611Z" fill="#12131A" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.20711 14.7929C7.59763 15.1834 7.59763 15.8166 7.20711 16.2071C6.81658 16.5976 6.18342 16.5976 5.79289 16.2071L2.29289 12.7071C1.90237 12.3166 1.90237 11.6834 2.29289 11.2929L5.79289 7.79289C6.18342 7.40237 6.81658 7.40237 7.20711 7.79289C7.59763 8.18342 7.59763 8.81658 7.20711 9.20711L5.41421 11H15C15.5523 11 16 11.4477 16 12C16 12.5523 15.5523 13 15 13L5.41421 13L7.20711 14.7929Z" fill="#12131A" />
                                                    </svg>
                                                </span>
                    Sign out all sessions
                </button>
            </div>
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->

        <!--begin::Card body-->
        <div class="card-body pt-0 pb-5">
            <div class="table-responsive">
                <table class="table align-middle table-row-dashed gy-5" >
                    <thead class="border-bottom border-gray-200 fs-7 fw-bolder">
                    <tr class="text-start text-gray-400 text-uppercase gs-0">
                        <th class="min-w-100px">Location</th>
                        <th>Device</th>
                        <th>IP Address</th>
                        <th class="min-w-125px">Time</th>
                        <th class="min-w-70px">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="fs-6 fw-bold text-gray-600">
                    <tr>
                        <td>Australia</td>
                        <td>Safari - iOS</td>
                        <td>207.38.22.175</td>
                        <td>3 days ago</td>
                        <td><a href="#" data-kt-users-sign-out="single_user">Sign out</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--end::Card body-->

    </div>

</template>

<script setup>

</script>

<style scoped>

</style>
