<template>

    <div class="flex-lg-row-fluid ms-lg-7 ms-xl-10"><div class="card" id="kt_chat_messenger">

            <!--start::Card header-->
            <div class="card-header" id="kt_chat_messenger_header">
                <div class="card-title">

                    <div class="d-flex justify-content-center flex-column me-3">

                        <div>

                            <div class="symbol  symbol-35px symbol-circle" style="margin-right: 10px">
                                <set-show-avatar :item="messengerStore.selectItem"></set-show-avatar>
                            </div>

                            <a href="#" class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 mb-2 lh-1">
                                {{messengerStore.selectItem[getItemName]}}
                            </a>
                        </div>

                        <div class="mt-1" style="border: 0px red solid; margin-left: -10px">
                            <button v-if="!getSubscriberId"  @click.prevent="addFriend()" type="button" class="btn btn-light-success btn-sm" style="border-radius: 15px">
                                <span v-if="messengerStore.pageName == 'user'">Добавить в друзья</span>
                                <span v-else > Добавиться в группу </span>
                            </button>
                            <button v-else  @click.prevent="deleteFriend()"  type="button" class="btn btn-light-primary btn-sm" style="border-radius: 15px">
                                <span v-if="messengerStore.pageName == 'user'">  Удалить из друзей </span>
                                <span v-else > Удалиться из группы </span>
                            </button>
                        </div>

                    </div>

                </div>
                <div class="card-toolbar"><div class="me-n3">

                    <!----- поиск по сообщениям ------>
                    <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                            <span class="path1"></span><span class="path2"></span></i>
                           <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-13 border-rounded-1"
                                  placeholder="Поиск по сообщениям ... ">
                    </div>

                </div></div>
            </div>
            <!--begin::Card header-->

            <ShowMessages />

            <AddMessage type="user" />

    </div></div>

</template>

<script setup >

import ShowMessages from '@/components/chat-messenger/ShowMessages.vue';
import AddMessage from '@/components/chat-messenger/AddMessage.vue';

import {computed, ref} from "vue";

import useMainHelper from "@/composables/useMainHelper.js";
const { messengerStore, userStore, API_ROUTES } = useMainHelper();

// -----  DATA  ------------
const itemName = ref('');

// -----  COMPUTED  --------
const getSubscriberId = computed(() => {
    return messengerStore.subscriberId;
})

const getItemName = computed(() => {
    setItemName()
    return itemName.value;
})

const currentUser = computed(() => {
    return userStore.currentUser
})

// -----  METHODS  ---------
const setItemName = () => {
    itemName.value = (messengerStore.pageName == 'user') ? 'username' : 'name'
}

const addFriend = () => {

    const data = {
        from_id: messengerStore.selectItem?.id,
        subscriber_id: userStore.currentUser?.id ,
        from_type: messengerStore.pageName
    }

    API_ROUTES.addFriend(data).then(response => {
        const { status, data } = response
        if(!status) return false;
        messengerStore.subscriberId = data?.subscribe?.id
    })
}

const deleteFriend = () => {
    let linkId = messengerStore.subscriberId
    API_ROUTES.deleteFriend(linkId).then(response => {
        const { status, data } = response
        if(!status) return false;
        messengerStore.subscriberId = null
        API_ROUTES.getCurrentUser()
    })
}

</script>

<style scoped>

.friend-link-btn {
    border: 1px white solid !important;
    background: none !important;
    color:green !important;
    font-weight: bold;
    padding: 3px !important;
    margin: 0px !important;
}

.friend-link-btn:hover {
    border-bottom: 1px #b0c5de solid !important;
}

</style>
