<template>

    <modal-wrap
      :modal_id="modalId"
      title="Создать новую группу"
      @make="createGroup" >

      <template v-slot:body>

            <div class="d-flex flex-column mb-4 fv-row fv-plugins-icon-container">

                  <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                    <span class="required"> Имя группы</span>
                    <span class="ms-1" ><i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                         <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                      </i></span>
                  </label>

                  <input v-model="newGroup.name" type="text" class="form-control form-control-solid" placeholder="Имя группы">
                  <div class="fv-plugins-message-container invalid-feedback"></div>

            </div>

            <div class="form-check form-check-custom form-check-solid form-check-sm">
                  <input v-model="newGroup.type" class="form-check-input" type="radio" value="public" id="flexRadioLg1"/>
                  <label class="form-check-label" for="flexRadioLg1"> Открытая </label>

                  <input v-model="newGroup.type" class="form-check-input" type="radio" value="private" id="flexRadioLg2" style="margin-left: 10px"/>
                  <label class="form-check-label" for="flexRadioLg1"> Закрытая </label>
            </div>

            <div class="d-flex flex-column mb-4 mt-4">
                  <label class="fs-6 fw-semibold mb-2"> Описание </label>
                  <textarea v-model="newGroup.description"
                            class="form-control form-control-solid" rows="3" placeholder="Описание группы" ></textarea>
            </div>

      </template>
    </modal-wrap>

</template>

<script setup>

import {reactive} from "vue";

import useMainImport from "@/composables/useMainImport.js";
const { userStore, messengerStore, API_ROUTES, useMain, } = useMainImport();
const { modalToggle } = useMain();
const { addGroup, getGroups } = API_ROUTES;

const modalId = 'kt-modal-add-group';

const newGroup = reactive({
  name: '',
  user_id: null,
  type: 'public',
  avatar: null,
  description: null,
});

const createGroup = (response) => {
    newGroup.user_id = userStore.currentUser.id
    addGroup(newGroup).then(response => {
        const {status, data } = response;
        if (!status) return false;
        getGroups();
        modalToggle(modalId, 'hide');
   })
}

// const getGroups = (args = null, callback = null) => {
//     API_ROUTES.getGroups(args).then(response => {
//     //const {status, data } = response;
//     //chatStore.groups = result
//     if (callback) callback(resp)
//   })
// }



</script>

<style scoped>

.aside-enabled.aside-fixed.toolbar-fixed .toolbar {
  left: 0px;
}

</style>

