<template>

    <div class="card-footer pt-4" id="kt_chat_messenger_footer">

        <div v-if="files.length"
             class="files-preview-container mb-2" >
            <div v-for="(file) in files" class="preview-item-box">{{file.name}}</div>
        </div>

        <form @submit.prevent="sendMessage" enctype="multipart/form-data" >

            <textarea v-model="messageText" class="form-control form-control-flush mb-3" rows="2" data-kt-element="input"
                      placeholder="Текст сообщения"></textarea>

            <div class="d-flex flex-stack pt-1" style="border-top: 0px gainsboro solid">
                <div class="d-flex align-items-center me-2">

                    <div class="d-flex align-items-center me-2">
                        <label class="btn btn-sm btn-icon btn-active-light-primary me-1">
                            <i class="bi bi-paperclip fs-3"></i>
                            <input @change="handleFilePreview" type="file" style="display: none;" multiple />
                        </label>
                    </div>

                </div>

                <button class="btn btn-primary" type="submit" data-kt-element="send">
                    <img src="@/assets/media/svg/brand-logos/telegram.svg"
                         class="h-50 align-self-center" alt="">
                         <span style="margin-left: 20px; font-weight: bold;"> Отправить </span>
                </button>

            </div>

        </form>

    </div>

</template>

<script setup >

import {computed, reactive, ref} from "vue";

import useMainImport from "@/composables/useMainImport.js";
const { userStore, messengerStore, API_ROUTES, useMessenger, useMain, } = useMainImport();
const { addMessage, addMessageFile } = API_ROUTES
const { getMessages } = useMessenger()

const props = defineProps(['type'])
const emit = defineEmits(['response'])
const files = ref([])
const messageText = ref(null)

const selectItem = computed(() => {
    return messengerStore.selectItem
})

const handleFilePreview = (event) => {
    files.value = event.target.files
}

const sendMessage = () => {

    let newMessage = {
        from: userStore.currentUser?.id,
        to: messengerStore?.selectItem?.id,
        message: messageText.value,
        type: messengerStore.pageName
    }

    addMessage(newMessage).then(response => {
        const { status, data } = response
        if (!status) return false;
        messageText.value = '';
        sendFiles(data.message.id, () => {
            getMessages(newMessage.from, newMessage.to);
        })
    })
}

const sendFiles = (messageId, callback = null) => {

    let len = files.value.length;
    if(!len) {
        if(callback) callback();
        return false;
    }

    let ch = 0;
    let type = 'chat-' + props.type

    files.value.forEach(file => {

        let formData = new FormData();

        formData.append('file', file)
        formData.append('message_id', messageId)
        formData.append('type', type)
        formData.append('title', file.name)

        addMessageFile(formData).then(response => {
            ch++;
            if(ch == len) {
                files.value = [];
                if(callback) callback();
            }
        })

    })
}


</script>

<style scoped>

.files-preview-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    border-bottom: 1px lightgrey dashed;
}

.preview-item-box {
    margin: 2px; border: 1px gainsboro dashed; padding: 2px; border-radius: 6px;
    font-size: 10px; color: grey;
}

</style>
