<template>

    <div class="flex-column flex-lg-row-auto w-100 w-lg-300px w-xl-400px mb-10 mb-lg-0"
         style="min-width: 400px"> <div class="card card-flush">

            <div class="card-header pt-6" style="border: 0px red solid" >
                <slot></slot>
            </div>

            <!----- SEARCH FORM ----->
            <div class="card-header pt-2" style="border: 0px red solid;">

                <form class="w-100 position-relative" autocomplete="off">
                    <span class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-25 ms-5 translate-middle-y"
                        style="padding-top: 8px" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                            </g>
                        </svg>
                    </span>
                    <input v-model="searchText" @input="searchItems" type="text" class="form-control form-control-solid px-15"
                           placeholder="Поиск по имени  ... "
                           style="border: 0px red solid; width: 102%" />
                </form>

            </div>

            <!----- ITEMS LIST RENDER ----->
            <div class="card-body pt-0" id="kt_chat_contacts_body" style="border-top:0px gainsboro solid; padding-top: 8px !important;" >
                <div class="scroll-y me-n5 pe-5 h-200px h-lg-auto"
                     data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                     data-kt-scroll-max-height="auto"
                     data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header"
                     data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body" data-kt-scroll-offset="0px">
                     <template v-for="(item, i) in itemsRender" :key="item.id" >

                         <router-link @click="selectItem(item, i)"
                              class="d-flex flex-stack py-4 render-list-item"
                             :to="'/chat-messenger/' + getPageName + '/' + item.id"
                             :class="[item.is_active ? 'list-item-active' : '']" >
                             <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <set-show-avatar :item="item"></set-show-avatar>
                                    <div v-if="item?.online" class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2"> {{item[itemName]}}</a>
                                    <div v-if="item?.email" class="fw-bold text-gray-400">{{item.email}}</div>
                                </div>
                             </div>
                             <div class="d-flex flex-column align-items-end ms-2">
                                <span v-if="item?.visit_start" class="text-muted fs-7 mb-1"> {{item.visit_start}}</span>
                                <span v-if="item?.unread_messages" class="badge badge-sm badge-circle badge-light-success">{{item.unread_messages}}</span>
                             </div>
                        </router-link>

                        <!--begin::Separator-->
                        <div class="separator separator-dashed d-none"></div>

                     </template>
                </div>
            </div>

    </div></div>

<!--    <pre>{{itemsRender}}</pre>-->

</template>

<script setup>

import {computed, ref } from "vue";

const emit = defineEmits(['search_items'])

import useMainImport from "@/composables/useMainImport.js";
const { messengerStore, selectItem } = useMainImport();

const itemName = ref(null);
const searchText = ref(null);

const itemsRender = computed(() => {
    setItemName()
    return messengerStore.items;
})

const getPageName = computed(() => {
    return messengerStore.pageName;
})

const setItemName = () => {
    itemName.value = (messengerStore.pageName == 'user') ? 'username' : 'name';
}

const searchItems = () => {
    let search_value = searchText.value;
    emit('search_items', { search_value })
}


</script>

<style scoped>

.render-list-item {
    padding-left: 8px;
    padding-right: 8px;
}

.render-list-item:hover {
    background: azure;
    /*width: 104%;*/
}

.list-item-active {
    border-left: 3px #b0c5de solid;
    background: azure;
    /*background: #b0c5de;*/
    /*width: 104%;*/
}
</style>
