<template>

<div class="header-menu align-items-stretch" style="min-width: 350px !important;" >
   <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch">

    <template v-if="messengerStore.pageName == 'user'">

        <div class="my-1 sub-menu-btn" >
            <ul class="d-flex flex-wrap nav nav-pills me-6 mb-2 mb-sm-0"  >

                <li class="nav-item m-0">
                    <a @click.prevent="setMenuActive('user')"  class="btn btn-sm btn-icon1 btn-white btn-color-muted active "
                       data-bs-toggle="tab" href="#kt_project_users_table_pane">Пользователи</a>
                </li>

                <li class="nav-item m-0">
                    <a @click.prevent="setSubMenuActiveList('friends')"
                       class="btn btn-sm btn-icon1 btn-white btn-color-muted btn-active-primary me-3"
                       data-bs-toggle="tab" href="#kt_project_users_card_pane"> Друзья </a>
                </li>
                <li class="nav-item m-0">
                    <a @click.prevent="setSubMenuActiveList('subscribers')" class="btn btn-sm btn-icon1 btn-white btn-color-muted btn-active-primary"
                       data-bs-toggle="tab" href="#kt_project_users_table_pane">
                        Подписчики
                    </a>
                </li>

            </ul>
        </div>

    </template>
    <template v-else-if="messengerStore.pageName == 'group'">

        <div class="my-1 sub-menu-btn" >
            <ul class="d-flex flex-wrap nav nav-pills me-6 mb-2 mb-sm-0" >

                <li class="nav-item m-0">
                    <a @click.prevent="setMenuActive('group')"  class="btn btn-sm btn-icon1 btn-white btn-color-muted active "
                       data-bs-toggle="tab" href="#kt_project_users_table_pane">Группы</a>
                </li>

                <li class="nav-item m-0">
                    <a @click.prevent="setSubMenuActiveList('bind_groups')" class="btn btn-sm btn-icon1 btn-white btn-color-muted btn-active-primary"
                       data-bs-toggle="tab" href="#kt_project_users_table_pane">
                        Подписки
                    </a>
                </li>

                <li class="nav-item m-0">
                    <a @click.prevent="setSubMenuActiveList('my_groups')"
                       class="btn btn-sm btn-icon1 btn-white btn-color-muted btn-active-primary me-3"
                       data-bs-toggle="tab" href="#kt_project_users_card_pane"> Мои группы </a>
                </li>

            </ul>
        </div>

    </template>

</div></div>

</template>

<script setup >

const emit = defineEmits(['select_menu'])

import useMainImport from "@/composables/useMainImport.js";
const { messengerStore } = useMainImport();

const setSubMenuActiveList = (name) => {
    emit('select_menu', { name, fn: 'sub_menu_active' })
}

const setMenuActive = (name) => {
    emit('select_menu', { name, fn: 'menu_active' })
}

</script>

<style scoped>

.active {
    background-color: #0095e8 !important;
    color: white !important;
}

.sub-menu-btn {
    min-width: 350px;
}

.sub-menu-btn ul {
    display: flex !important;
    flex-wrap: nowrap !important;
    width: 100%;
}

.sub-menu-btn ul li {
    padding: 2px ;
    width: 100%;
}

.sub-menu-btn ul li a {
    width: 100%;
    border: 1px solid  lightcyan !important;
    font-weight: bold;
}

</style>
