<template>

  <div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-lg-row flex-column-fluid">

      <div class="d-flex flex-column flex-lg-row-auto w-xl-600px positon-xl-relative"
           style="background: #F2C98A;">
        <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
          <div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
            <router-link to="/" class="py-9">
              <img alt="Logo" src="@/assets/media/logos/logo-3.svg" class="h-70px"/>
            </router-link>
            <h1 class="fw-bolder fs-2qx pb-5 pb-md-10" style="color: #986923;">Добро пожаловать</h1>
            <p class="fw-bold fs-2" style="color: #986923;">Рады видеть Вас на сайте </p>

          </div>
          <div
            class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px"
            style=""></div>
        </div>
      </div>

      <div class="d-flex flex-column flex-lg-row-fluid" style="margin-top: 100px">
        <div class="d-flex1 flex-center flex-column flex-column-fluid">
          <div class="w-lg-500px p-10 p-lg-15 mx-auto" style="">

            <div v-if="errorMessage" class="alert alert-danger">
              <span class="svg-icon svg-icon-2hx svg-icon-primary me-3"></span>
              <div class="d-flex flex-column">
                <h5 class="mb-0" style="text-align: center; padding-bottom: 13px">
                  {{ errorMessage }}
                </h5>
                <span></span>
              </div>
            </div>

            <div v-if="successMessage" class="alert alert-success">
              <span class="svg-icon svg-icon-2hx svg-icon-primary me-3"></span>
              <div class="d-flex flex-column">
                <h5 class="mb-0" style="text-align: center; padding-bottom: 13px">
                  {{ successMessage }}
                </h5>
                <span></span>
              </div>
            </div>

            <template v-if="!resetPasswordState">

              <form @submit.prevent="sendAuth()" class="form w-100"  style="width: 100%  !important;" >

                <div class="text-center mb-10">
                  <h1 class="text-dark mb-3">Авторизация</h1>
                  <div class="text-gray-400 fw-bold fs-4"> Нет аккаунта ?
                    <router-link to="/user/register"
                                 class="link-primary fw-bolder" style="margin-left: 10px"> Регистрация
                    </router-link>
                  </div>
                </div>

                <div class="fv-row mb-10">
                  <label class="form-label fs-6 fw-bolder text-dark">Email</label>
                  <input v-model="auth.email" class="form-control form-control-lg form-control-solid" type="text"
                         name="email" autocomplete="off"/>
                  <div v-if="errors['email']" class="invalid-feedback1" style="color:red;">
                    {{ errors['email'] }}
                  </div>
                </div>

                <div class="fv-row mb-10">
                  <div class="d-flex flex-stack mb-2">
                    <label class="form-label fw-bolder text-dark fs-6 mb-0">Пароль</label>
                    <a @click.prevent="resetPasswordState = true" href="#" class="link-primary fs-6 fw-bolder">
                      Забыли пароль ?
                    </a>
                  </div>
                  <input v-model="auth.password" class="form-control form-control-lg form-control-solid" type="password"
                         name="password" autocomplete="off"/>
                  <div v-if="errors['password']" class="invalid-feedback1" style="color:red;">
                    {{ errors['password'] }}
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
                    <span class="indicator-label"> Войти </span>
                    <span class="indicator-progress">Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                  </button>
                  <div class="text-center text-muted text-uppercase fw-bolder mb-5"></div>
                </div>
              </form>

            </template>
            <template v-else>

              <form @submit.prevent="sendResetPassword()" class="form w-100" novalidate="novalidate" action="#">

                <div class="text-center mb-10"><h1 class="text-dark mb-3"> Сбросить пароль </h1></div>

                <div class="fv-row mb-10">
                  <label class="form-label fs-6 fw-bolder text-dark">Email</label>
                  <input v-model="resetEmail" class="form-control form-control-lg form-control-solid" type="text"
                         name="email" autocomplete="off"/>
                  <div v-if="errors['email']" class="invalid-feedback1" style="color:red;">
                    {{ errors['email'] }}
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-lg btn-primary w-100 mb-5">
                    <span class="indicator-label"> Сбросить пароль </span>
                    <span class="indicator-progress">Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                  </button>
                  <div class="text-center text-muted text-uppercase fw-bolder mb-5">
                    <a @click.prevent="resetPasswordState = false" href="#"
                       class="link-primary fs-6 fw-bolder" style="margin-left: auto; display: block">
                      Авторизация
                    </a>
                  </div>
                </div>
              </form>

            </template>

          </div>
        </div>

        <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
          <div class="d-flex flex-center fw-bold fs-6"></div>
        </div>

      </div>

    </div>
  </div>
</template>

<script setup>

import {reactive, ref} from "vue";
import {useRouter} from 'vue-router'
const router = useRouter()

// --- Подключение ресурсов
import useMainImport from '@/composables/useMainImport.js';
const { userStore, API_ROUTES, useMain, usePusherEcho } = useMainImport();
const { login, resetPassword, responseHandle }  = API_ROUTES
const { notify } = useMain()
const pusherEcho = usePusherEcho();
// --- ./ Подключение ресурсов

const errors = ref({})
const errorMessage = ref(null)
const successMessage = ref(null)
const resetPasswordState = ref(null)
const resetEmail = ref('')

const auth = reactive({
  email: 'user1@mail.ru',
  password: '1234',
})

// --- Аутентификация
const sendAuth = () => {
  errors.value = {}
  errorMessage.value = null;
  successMessage.value = null;
  userStore.authStatus = false;

  login(auth).then(response => {
    responseHandle(response, successResponse, errorResponse)
  }).catch(errorResponse)
}

// --- Сбросить пароль (забыл пароль)
const sendResetPassword = () => {
  let email = resetEmail.value;
  errorMessage.value = null;
  successMessage.value = null;
  const success = (data) => {
    const {status, message} = data
    if (status == 'passwords.sent') successMessage.value = message;
    else errorMessage.value = message;
  }

  resetPassword({email}).then(response => {
    responseHandle(response, success, errorResponse)
  }).catch(errorResponse)
}

// --- Успешное выполнение запроса
const successResponse = (data) => {
  const {token, message } = data
  if (!token) {
    errorMessage.value = message;
    return false
  }

  userStore.authStatus = true;
  successMessage.value = 'Успешная авторизация!';
  userStore.responseLogin(data); // --- выполняем действия после успешной авторизации
  pusherEcho.listen(); // --- запускаем сервис сообщений (pusher)
  notify(successMessage.value, 1);
  setTimeout(() => { // --- перенаправление на страницу профиля
     router.push({ name: 'user-profile'});
  }, 500);
}

// --- Ошибка при выполнение запроса
const errorResponse = (error) => {
  const errData = error.error?.response?.data;
  errorMessage.value = errData?.message;
  errors.value = (errData?.errors) ? errData?.errors : {}
}

</script>

<style scoped>

</style>
