<template>
    <div> Вы вышли из профиля </div>
</template>

<script setup >

import { useRouter } from 'vue-router'
const router = useRouter()

import useMainImport from "@/composables/useMainImport.js";
const { userStore, messengerStore, API_ROUTES, usePusherEcho } = useMainImport();
const pusherEcho = usePusherEcho();

const logout = () => {
    API_ROUTES.logout().then(response => {
        userStore.responseLogout(response)
        messengerStore.responseLogout(response);
        pusherEcho.exit();
        router.push({name: 'login'})
    })
}

logout();

</script>

<style scoped>

</style>
