<template>

  <div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-lg-row flex-column-fluid">

      <div class="d-flex flex-column flex-lg-row-auto w-xl-600px positon-xl-relative"
           style="background-color: #F2C98A; ">
        <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
          <div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
            <router-link to="/" class="py-9">
              <img alt="Logo" src="@/assets/media/logos/logo-3.svg" class="h-70px"/>
            </router-link>
            <h1 class="fw-bolder fs-2qx pb-5 pb-md-10" style="color: #986923;">Добро пожаловать</h1>
            <p class="fw-bold fs-2" style="color: #986923;"> Мы ради видеть Вас на сайте</p>
          </div>
          <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center
                                bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px"></div>
        </div>
      </div>

      <div class="d-flex flex-column flex-lg-row-fluid py-10" style="height: 1000px">
        <div class="d-flex flex-center flex-column flex-column-fluid">
          <div class="w-lg-600px p-10 p-lg-15 mx-auto">
            <form @submit.prevent="userRegister" class="form w-100" novalidate="novalidate" id="kt_sign_up_form">

              <div class="mb-10 text-center">
                <h1 class="text-dark mb-3"> Регистрация </h1>
                <div class="text-gray-400 fw-bold fs-4">
                  У вас уже есть аккаунт?
                  <router-link to="/user/login" class="link-primary fw-bolder" style="margin-left: 10px"> Войти
                  </router-link>
                </div>
              </div>

              <div class="d-flex align-items-center mb-10">
                <div class="border-bottom border-gray-300 mw-50 w-100"></div>
                <span class="fw-bold text-gray-400 fs-7 mx-2"> | </span>
                <div class="border-bottom border-gray-300 mw-50 w-100"></div>
              </div>

              <div class="row fv-row mb-7">
                <div class="col-xl-12">
                  <label class="form-label fw-bolder text-dark fs-6"> Имя</label>
                  <input v-model="user.username" class="form-control form-control-lg form-control-solid" type="text"
                         placeholder="" name="first-name" autocomplete="off"/>
                  <div v-if="errors['username']" class="invalid-feedback1" style="color:red;">
                    {{ errors['username'] }}
                  </div>
                </div>
              </div>

              <div class="fv-row mb-7">
                <label class="form-label fw-bolder text-dark fs-6">Email</label>
                <input v-model="user.email" class="form-control form-control-lg form-control-solid" type="email"
                       placeholder="" name="email" autocomplete="off"/>
                <div v-if="errors['email']" class="invalid-feedback1" style="color:red; ">
                  {{ errors['email'] }}
                </div>
              </div>

              <div class="mb-10 fv-row" data-kt-password-meter="true">
                <div class="mb-1">
                  <label class="form-label fw-bolder text-dark fs-6"> Пароль </label>
                  <div class="position-relative mb-3">
                    <input v-model="user.password" class="form-control form-control-lg form-control-solid"
                           type="password" placeholder="" name="password" autocomplete="off"/>
                    <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                          data-kt-password-meter-control="visibility">
                                            <i class="bi bi-eye-slash fs-2"></i>
                                            <i class="bi bi-eye fs-2 d-none"></i>
										</span>
                    <div v-if="errors['password']" class="invalid-feedback1" style="color:red; ">
                      {{ errors['password'] }}
                    </div>
                  </div>
                  <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                  </div>
                </div>
                <div class="text-muted">Используйте 8 или более символов, сочетая буквы, цифры и символы.</div>
              </div>

              <div class="fv-row mb-5">
                <label class="form-label fw-bolder text-dark fs-6"> Повторить пароль </label>
                <input v-model="user.password_confirmation" class="form-control form-control-lg form-control-solid"
                       type="password" placeholder="" name="confirm-password" autocomplete="off"/>
              </div>

              <div class="fv-row mb-10">
                <label class="form-check form-check-custom form-check-solid form-check-inline">
                  <input class="form-check-input" type="checkbox" name="toc" value="1"/>
                  <span class="form-check-label fw-bold text-gray-700 fs-6"> Я согласен
										<a href="#" class="ms-1 link-primary"> с условиями соглащения </a>.</span>
                </label>
              </div>

              <div class="text-center">
                <button type="submit" id="kt_sign_up_submit" class="btn btn-lg btn-primary">
                  <span class="indicator-label"> Сохранить </span>
                  <span class="indicator-progress">Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                </button>
              </div>
            </form>

          </div>

        </div>

        <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
          <div class="d-flex flex-center fw-bold fs-6"></div>
        </div>

      </div>

    </div>
  </div>

</template>

<script setup>

import {reactive, ref} from "vue";
import {useRouter} from 'vue-router'

const router = useRouter()

// --- Подключение ресурсов
import useMainImport from '@/composables/useMainImport.js';
const {userStore, API_ROUTES, useMain} = useMainImport();
const { notify, sendRoute} = useMain()
// --- ./ Подключение ресурсов

const errors = ref({})
const errorMessage = ref('')

const user = reactive({
  username: 'Maikl',
  email: 'user1@mail.ru',
  phone: '8-906-234-56-67',
  role: 2,
  password: '123456',
  password_confirmation: '123456',
})

const userRegister = () => {

  errors.value = {}
  errorMessage.value = '';

  sendRoute('register', user,
    successResponse,
    errorResponse,
  );
}

const successResponse = data => {
  notify('Новый пользователь успешно создан', 1);
  router.push({name: 'login'})
}

const errorResponse = (error, validateErrors = null) => {
  errors.value = (validateErrors) ? validateErrors : {};
  errorMessage.value = error.error?.response?.data?.message;
}

</script>

<style scoped>

</style>
