<template>
    <div> Вы вышли из профиля </div>
</template>

<script setup >

import { useRouter } from 'vue-router'
const router = useRouter()

import useMainHelper from "@/composables/useMainHelper.js";
const { API_ROUTES, userStore, messengerStore, selectItem } = useMainHelper();

import usePusherEcho from '@/composables/usePusherEcho.js';
const pusherEcho = usePusherEcho();

const logout = () => {
    API_ROUTES.logout();
    userStore.responseLogout()
    messengerStore.logout();
    pusherEcho.exit();
    router.push('/user/login')
}

logout();

</script>

<style scoped>

</style>
