<template>

    <site-layout>

        <AddGroup />

        <div class="content d-flex flex-column flex-column-fluid" id="kt_content" >

            <!--begin::Toolbar-->
            <div class="toolbar" >
                <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                    <div  class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                        <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3"> Chat Messenger </h1>
                        <span class="h-20px border-gray-200 border-start mx-4"></span>
                        <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                            <li class="breadcrumb-item text-muted">
                                <router-link to="/" class="text-muted text-hover-primary"> Главная </router-link>
                            </li>
                            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
                            <li class="breadcrumb-item text-muted"> Чат </li>
                            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
                            <li class="breadcrumb-item text-dark"> {{ getPageName == 'user' ? 'Пользователи' : 'Группы' }} </li>
                        </ul>

                        <div v-if="messengerStore.pageName == 'group'" class="me-4" style="margin-left: 25px">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#kt-modal-add-group"
                               class="btn btn-sm btn-flex btn-light btn-active-primary fw-bolder">
                                  <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                      <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                                    </svg>
                                 </span>
                                 Создать группу
                            </a>
                        </div>

                    </div>

                    <div class="d-flex align-items-center py-1">
                        <div class="me-4" style="display: flex">
                            <template v-for="(menu, name) in menuLink">
                                <router-link :to="menu.url"
                                       @click="setMenuActive(name)"
                                       class="btn btn-sm btn-flex btn-light fw-bolder menu-btn"
                                       :class="[menu.is_active === true? 'btn-primary': '']" > {{menu.title}} </router-link>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Toolbar-->

            <div class="post d-flex flex-column-fluid" id="kt_post">
                <div id="kt_content_container" class="container-fluid">
                    <div class="d-flex flex-column flex-lg-row">

                        <LeftSideBar @search_items="searchItems">
                             <SideBarSubMenu @select_menu="subMenuEmitAction"/>
                        </LeftSideBar>

                        <ChatMessenger  />

                    </div>
                </div>
            </div>

        </div>

    </site-layout>

</template>

<script setup>

import ChatMessenger from '@/components/chat-messenger/ChatMessenger.vue';
import LeftSideBar from '@/components/chat-messenger/LeftSideBar.vue';
import AddGroup from '@/components/chat-messenger/AddGroup.vue';
import SideBarSubMenu from '@/components/chat-messenger/SideBarSubMenu.vue';

// import UserChatMessenger from '@/components/chat-messenger/UserChatMessenger.vue';
// import GroupChatMessenger from '@/components/chat-messenger/GroupChatMessenger.vue';

import {computed, reactive, ref} from "vue";

import useMainHelper from "@/composables/useMainHelper.js";
const { API_ROUTES, userStore, messengerStore, selectItem, route, useMessenger } = useMainHelper();
const { getUsers, getGroups, getCurrentUser, responseHandle } = API_ROUTES;
const { groupUnreadMessagesLocal } = useMessenger();

/////////////////////////////
// ----      DATA     -----

const activeListName = ref(null)
const searchText = ref('')

const menuLink = reactive({
    user:  { url: '/chat-messenger/user/0',  title: 'Пользователи', is_active: false },
    group: { url: '/chat-messenger/group/0', title: 'Группы', is_active: false },
});

/////////////////////////////
// ----   COMPUTED     -----

const getPageName = computed(() => {
    return messengerStore.pageName;
})

/////////////////////////////
// ----    METHODS     -----

const setPageName = () => {
    let pageName = (route.path.includes('group')) ? 'group' : 'user'
    messengerStore.pageName = pageName;
}

const initPage = () => {
    setPageName();
    getCurrentUser().then(response => {
        const { status, data } = response;
        if(status) userStore.currentUser = data?.user;
        setMenuActive(messengerStore.pageName);
    })
}

const setMenuActive = (name) => {
    menuClear();
    menuLink[name].is_active = true;
    messengerStore.pageName = name;
    loadItems();
}

const menuClear = () => {
    for(let name in menuLink){
        menuLink[name].is_active = false
    }
}

const loadItems = () => {
    // messengerStore.items = [];
    switch (messengerStore.pageName) {
       case 'user'  : usersList(); break;
       case 'group' : groupsList(); break;
    }
}

const usersOnline = (list = null) => {
    userStore.usersOnlineFiltered(list);
}

const usersList = () => {

    const setUsers = (data) => {
        userStore.users = data.users.data;
        messengerStore.items = userStore.users;
        selectFirstItem();
        usersOnline();
    }

    const limit  = 15;
    const userId = userStore.currentUser?.id
    const service = 'chat';
    const search  = searchText.value
    getUsers({userId, limit, service, search}).then(response => {
        responseHandle(response, setUsers)
    })
}

const groupsList = () => {

    const setGroups = (data) => {
        messengerStore.groups = data;
        messengerStore.items = messengerStore.groups;
        messengerStore.items.map(item => {
            let count = groupUnreadMessagesLocal(item.id);
            item.unread_messages = count;
        })
        selectFirstItem()
    }

    const search  = '?name=' + searchText.value;

    getGroups(search).then(response => {
        responseHandle(response, setGroups)
    })
}

const setSubMenuActiveList = (name) => {
    activeListName.value = name;
    messengerStore.items = [];
    messengerStore.messages = [];
    const list = userStore.currentUser[name];
    list.map(item => messengerStore.items.push(item))
    selectFirstItem();
    if(messengerStore.pageName == 'user') {
        usersOnline(messengerStore.items);
    } else {
        usersOnline();
    }
}

const selectFirstItem = () => {
    let id = parseInt(route.params.id);
    if(!id) {
        if(messengerStore.items[0]) {
            let item = messengerStore.items[0];
            selectItem(item)
        }
    } else {
        for(let i in messengerStore.items) {
           let item = messengerStore.items[i];
           if(item.id != id) continue;
           return selectItem(item);
        }
    }
}

const subMenuEmitAction = (response) => {
    const { name, fn } = response
    switch (fn) {
       case 'sub_menu_active' : setSubMenuActiveList(name); break;
       case 'menu_active' : setMenuActive(name); break;
    }
}

const searchItems = (data) => {
    searchText.value = data.search_value;
    loadItems();
}

/////////////////////////////
// ----    CREATED     -----

initPage();

</script>

<style scoped>

  .menu-btn {
      display: block !important;
      margin-left: 5px; width: 120px; text-align: center !important;
  }

</style>
