<template>
 <div
     class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed"
      style="--kt-toolbar-height:55px; --kt-toolbar-height-tablet-and-mobile:55px; " >

      <div class="d-flex flex-column flex-root">
        <div class="page d-flex flex-row flex-column-fluid">
            <div class="wrapper d-flex flex-column flex-row-fluid" >

                <!--begin::Header-->
                <SiteHeader />
                <!--end::Header-->

                <!--begin::Content-->
                <slot></slot>
                <!--end::Content-->

                <!--begin::Footer-->
                <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
                    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted fw-bold me-1">2023©</span>
                            <a href="" target="_blank" class="text-gray-800 text-hover-primary"> My Site</a>
                        </div>
                        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
                            <li class="menu-item"><a href="/" target="_blank" class="menu-link px-2">About</a></li>
                            <li class="menu-item"><a href="/" target="_blank" class="menu-link px-2">Support</a></li>
                            <li class="menu-item"><a href="/" target="_blank" class="menu-link px-2">Purchase</a></li>
                        </ul>
                    </div>
                </div>
                <!--end::Footer-->

            </div>
        </div>
      </div>

 </div>
</template>

<script setup>

import SiteHeader from '@/components/SiteHeader.vue';

</script>

<style scoped>

</style>
