<template>

    <template v-if="load_type == 'preview'">

        <div style="display: flex">

            <template v-if="file_type == 'photo'">

                <div class="card-toolbar" >
                    <label type="button" class="btn btn-light-primary btn-sm"
                           style="padding: 10px; margin: 4px; border-radius: 25px; font-weight: bold">
                        <i class="bi bi-paperclip fs-3"></i>
                        <input @change="changeHandlePhotoPreload"  type="file" multiple="" style="display: none;">
                        {{title}}
                    </label>
                </div>

                <div class="card-toolbar" style="margin-left: 20px">
                    <button @click="startSendFiles" type="button" class="btn btn-light-primary btn-sm"
                           style="padding: 10px 15px 10px 15px; margin: 4px; border-radius: 25px; font-weight: bold">
                           Загрузить фотографии
                    </button>
                </div>

            </template>
            <template v-else >

                <div class="card-toolbar" >
                    <label type="button" class="btn btn-light-primary btn-sm"
                           style="padding: 10px; margin: 4px; border-radius: 25px; font-weight: bold">
                        <i class="bi bi-paperclip fs-3"></i>
                        <input @change="changeHandleFilePreload"  type="file" multiple="" style="display: none;">
                        {{title}}
                    </label>
                </div>

                <div class="card-toolbar" style="margin-left: 20px">
                    <button @click="startSendFiles" type="button" class="btn btn-light-primary btn-sm"
                            style="padding: 10px 15px 10px 15px; margin: 4px; border-radius: 25px; font-weight: bold">
                        Загрузить файлы
                    </button>
                </div>

            </template>


            <div class="card-toolbar" style="margin-left: auto">
                <button @click="clear" type="button" class="btn btn-light-primary btn-sm"
                        style="padding: 10px 15px 10px 15px; margin: 4px; border-radius: 25px; font-weight: bold">
                    Очистить
                </button>
            </div>

        </div>

        <div class="preview-photos-container">

            <template v-if="file_type == 'photo'">

                <div v-for="(file, i) in previewPhotos" class="d-flex align-items-center preview-photo-item">
                    <div class="symbol symbol-45px me-5">
                        <img :src="file" >
                    </div>
                    <div class="d-flex justify-content-start flex-column">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">{{ files[i].name }}</a>
                        <span class="text-muted fw-bold text-muted d-block fs-7">
                            <span @click="removeImage(i)" class="svg-icon svg-icon-1" style="cursor: pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                        <path d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z" fill="#000000"/>
                                </svg>
                            </span>
                            {{ files[i].size }}
                        </span>
                    </div>
                </div>

            </template>
            <template v-else >

                <div v-for="(file, i) in files"  class="d-flex align-items-center preview-photo-item">
                    <div class="symbol symbol-45px me-5">
                        <SetSvgImage :file_name="file.name" />
                    </div>
                    <div class="d-flex justify-content-start flex-column">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">{{ files[i].name }}</a>
                        <span class="text-muted fw-bold text-muted d-block fs-7">
                            <span class="svg-icon svg-icon-1" style="cursor: pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                        <path d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z" fill="#000000"/>
                                </svg>
                            </span>
                            {{ files[i].size }}
                        </span>
                    </div>
                </div>

            </template>

        </div>

    </template>
    <template v-else >

        <div class="card-toolbar" >
            <label type="button" class="btn btn-light-primary btn-sm"
                style="padding: 4px 8px 4px 8px; margin: 4px; border-radius: 25px">
                <i class="bi bi-paperclip fs-3"></i>
                <input @change="inputHandleFilePreload"  type="file" multiple="" style="display: none;">
                {{title}}
            </label>
        </div>

    </template>

</template>

<script setup>

import SetSvgImage from '@/components/common/SetSvgImage.vue';

import {computed, ref} from "vue";

const props = defineProps([
    'title',
    'func_name',
    'field_name',
    'data',
    'load_type',
    'file_type',
]);

const emit = defineEmits([
    'send_response',
])

import useMainHelper from "@/composables/useMainHelper.js";
const { messengerStore, userStore, API_ROUTES, sendRoute } = useMainHelper();

const files = ref([]);
const previewPhotos = ref([]);

const changeHandlePhotoPreload = (event) => {
    clear();
    previewThumbnail(event.target.files);
}

const changeHandleFilePreload = (event) => {
    clear();
    files.value = event.target.files
}

const inputHandleFilePreload = (event) => {
    files.value = event.target.files
    sendFiles()
}

const removeImage = (i) => {
    previewPhotos.value.splice(i, 1);
    files.value.splice(i, 1);
}

const clear = () => {
    files.value = [];
    previewPhotos.value = [];
}

const previewThumbnail = (items) => {
    [...items].forEach(file => {
        console.log(file)
        const reader = new FileReader();
        reader.onload = e => previewPhotos.value.push(e.target.result);
        reader.readAsDataURL(file);
        files.value.push(file);
    });
}

const startSendFiles = () => {
    sendFiles()
}

const sendFiles = () => {

    let len = files.value.length;
    if(!len) { return false; }
    let counter = 0;

    let fieldName = props.field_name;

    files.value.forEach(file => {

        counter++;

        let formData = new FormData();
        formData.append(fieldName, file)
        for(let name in props.data) {
            let value = props.data[name]
            formData.append(name, value)
        }

        sendRoute(props.func_name, formData).then(response => {
             const { status, data} = response
             if(counter == len) {
                 clear()
                 emit('send_response', response)
             }
        }).catch(error => {

        })

    })
}

</script>

<style scoped>

.preview-photos-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.preview-photo-item {
   padding: 7px;
   width: 20%;
   /*border: 1px red solid;*/
   overflow: hidden;
}

</style>
