<template>

<!--  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_1">-->
<!--    Launch demo modal-->
<!--  </button>-->

  <div class="modal fade" tabindex="-1" :id="modal_id" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{title}}</h3>

          <!--begin::Close-->
          <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>

          </div>
          <!--end::Close-->
        </div>

        <div class="modal-body">
          <p><slot name="body"></slot></p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal"> Отменить </button>
          <button @click="make" type="button" class="btn btn-primary"> Выполнить </button>
        </div>

      </div>
    </div>
  </div>


</template>

<script setup >

const props = defineProps([
  'modal_id',
  'title'
])

const emit = defineEmits(['make'])

const make = () => {
  const data = { modal_id: props.modal_id }
  emit('make', data)
}

</script>

<style scoped>

</style>
