<template>

    <img v-if="getFileExt == 'pdf'" src="@/assets/media/svg/files/pdf.svg" class="theme-light-show" alt="">
    <img v-else-if="getFileExt == 'xls' || getFileExt == 'xlsx'" src="@/assets/media/svg/files/doc.svg" class="theme-light-show" alt="">
    <img v-else-if="getFileExt == 'doc' || getFileExt == 'docx'" src="@/assets/media/svg/files/doc.svg" class="theme-light-show" alt="">
    <img v-else-if="getFileExt == 'file'" src="@/assets/media/icons/duotone/files/File.svg" class="theme-light-show" alt="">
    <img v-else-if="getFileExt == 'txt'" src="@/assets/media/icons/duotone/files/File.svg" class="theme-light-show" alt="">
    <img v-else src="@/assets/media/icons/duotone/files/File.svg" class="theme-light-show" alt="">

</template>

<script setup>

import {computed, ref} from "vue";

const props = defineProps(['file_name']);
const fileExt = ref('')

const getFileExt = computed(() => {
    fileExt.value = props.file_name.split('.').reverse()[0]
    return fileExt.value;
})

</script>

<style scoped>

</style>
