<template>
  <site-layout>
    <div class="content d-flex flex-column flex-column-fluid">

      <div class="toolbar">
        <div class="container-fluid d-flex flex-stack">
          <div class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3"> Главная
              <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
              <small class="text-muted fs-7 fw-bold my-1 ms-1"></small>
            </h1>
          </div>
          <div class="d-flex align-items-center py-1"></div>
        </div>
      </div>

      <div class="post d-flex flex-column-fluid"><div class="container-fluid">

          <div class="card card-xxl-stretch">

            <div class="card-header border-0 bg-danger py-5" style="margin-bottom: 20px">
              <h3 class="card-title fw-bolder text-white"> Тестовые проекты </h3>
              <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-color-white btn-active-white btn-active-color- border-0 me-n3" >
                  <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000"></rect><rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3"></rect>
                          <rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3"></rect><rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3"></rect>
                        </g>
                      </svg>
                   </span>
                </button>
              </div>
            </div>

            <div class="card-body p-0" style="border-bottom: 1px gainsboro solid"><div class="card-p mt-n20 position-relative">

                <div class="row g-0">

                  <div class="col bg-light-warning px-6 py-8 rounded-2 me-7 mb-7">
                    <span class="svg-icon svg-icon-3x svg-icon-warning d-block my-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <rect x="0" y="0" width="24" height="24"></rect>
                              <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"></rect><rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"></rect>
                              <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"></rect><rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"></rect>
                            </g>
                          </svg>
                    </span>

                    <a href="http://shop1.bolderp5.bget.ru/basisportal/web" target="_blank" class="text-warning fw-bold fs-6">
                      Единая комплексная информационная среда
                    </a>

                  </div>

                  <div class="col bg-light-primary px-6 py-8 rounded-2 mb-7">
                    <span class="svg-icon svg-icon-3x svg-icon-primary d-block my-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                        <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
                      </svg>
                    </span>

                    <a href="#" class="text-primary fw-bold fs-6">Новые пользователи</a>
                  </div>

                </div>

            </div></div>

          </div>

      </div></div>

    </div>
  </site-layout>
</template>

<script setup>

</script>

<style scoped>
.aside-enabled.aside-fixed.toolbar-fixed .toolbar {
  left: 0px;
}
</style>
