<template>
 <site-layout auth-check="true" >
    <div class="content d-flex flex-column flex-column-fluid" >

        <!--- begin::TOOLBAR -->
        <div class="toolbar" id="kt_toolbar">

            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <div data-kt-place="true"
                     data-kt-place-mode="prepend"
                     data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                     class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">

                    <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3"> Мой профиль </h1>

                    <span class="h-20px border-gray-200 border-start mx-4"></span>

                    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">

                        <li class="breadcrumb-item text-muted">
                            <router-link to="/" class="text-muted text-hover-primary"> Главная </router-link>
                        </li>
                        <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
                        <li class="breadcrumb-item text-muted">Профиль</li>
                        <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
                        <li class="breadcrumb-item text-dark"> Мой профиль</li>

                    </ul>

                </div>

                <div class="d-flex align-items-center py-1">
                    <div class="me-4">
                        <a href="#" class="btn btn-sm btn-flex btn-light btn-active-primary fw-bolder">
                            <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                                <svg xmlns="http://www.w3.org/2000/svg"  width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M5,4 L19,4 C19.2761424,4 19.5,4.22385763 19.5,4.5 C19.5,4.60818511 19.4649111,4.71345191 19.4,4.8 L14,12 L14,20.190983 C14,20.4671254 13.7761424,20.690983 13.5,20.690983 C13.4223775,20.690983 13.3458209,20.6729105 13.2763932,20.6381966 L10,19 L10,12 L4.6,4.8 C4.43431458,4.5790861 4.4790861,4.26568542 4.7,4.1 C4.78654809,4.03508894 4.89181489,4 5,4 Z" fill="#000000" />
                                    </g>
                                </svg>
                            </span>
                            Filter
                        </a>
                    </div>
                    <a href="#" class="btn btn-sm btn-primary" >Create</a>
                </div>
            </div>

        </div>
        <!--- end::TOOLBAR ---->

        <!---begin:: PAGE CONTENT   -->
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div class="container-fluid">
                <div class="d-flex flex-column flex-xl-row">

                    <!---####################### --->
                    <!-------  ЛЕВЫЙ БЛОК    -------->
                    <div class="flex-column flex-lg-row-auto w-100 w-xl-400px mb-10" >
                        <div class="card mb-5 mb-xl-8">
                            <div class="card-body pt-0 pt-lg-1">
                                <div class="card">
                                    <!--begin::Card body-->
                                    <div class="card-body d-flex flex-center flex-column pt-12 p-9 px-0">
                                        <div class="symbol symbol-100px symbol-circle mb-7">
                                            <set-show-avatar :item="currentUser"/>
                                        </div>
                                        <div style="margin: -20px 0px 8px 0px; border: 0px red solid" >
                                            <file-loader
                                                title="Сменить аватар"
                                                func_name="changeAvatar"
                                                field_name="avatar"
                                                :data="{ user_id: currentUser.id }"
                                                @send_response="changeAvatarResponse"
                                            />
                                        </div>
                                        <div class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3">
                                           {{currentUser.username}}
                                        </div>
                                        <div class="mb-9">
                                            <div class="badge badge-lg badge-light-primary d-inline"> Пользователь </div>
                                        </div>
                                        <div class="fw-bolder mb-3"> Assigned Tickets </div>
                                        <div class="d-flex flex-wrap flex-center">
                                            <!--begin::Stats-->
                                            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
                                                <div class="fs-4 fw-bolder text-gray-700">
                                                    <span class="w-75px">243</span>
                                                    <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-up.svg-->
                                                    <span class="svg-icon svg-icon-3 svg-icon-success">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                                            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
                                                                            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
                                                                        </g>
                                                                    </svg>
                                                                </span>
                                                    <!--end::Svg Icon-->
                                                </div>
                                                <div class="fw-bold text-gray-400">Total</div>
                                            </div>
                                            <!--end::Stats-->
                                            <!--begin::Stats-->
                                            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mx-4 mb-3">
                                                <div class="fs-4 fw-bolder text-gray-700">
                                                    <span class="w-50px">56</span>
                                                    <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-down.svg-->
                                                    <span class="svg-icon svg-icon-3 svg-icon-danger">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                                            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
                                                                            <path d="M6.70710678,18.7071068 C6.31658249,19.0976311 5.68341751,19.0976311 5.29289322,18.7071068 C4.90236893,18.3165825 4.90236893,17.6834175 5.29289322,17.2928932 L11.2928932,11.2928932 C11.6714722,10.9143143 12.2810586,10.9010687 12.6757246,11.2628459 L18.6757246,16.7628459 C19.0828436,17.1360383 19.1103465,17.7686056 18.7371541,18.1757246 C18.3639617,18.5828436 17.7313944,18.6103465 17.3242754,18.2371541 L12.0300757,13.3841378 L6.70710678,18.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 14.999999) scale(1, -1) translate(-12.000003, -14.999999)" />
                                                                        </g>
                                                                    </svg>
                                                                </span>
                                                    <!--end::Svg Icon-->
                                                </div>
                                                <div class="fw-bold text-gray-400">Solved</div>
                                            </div>
                                            <!--end::Stats-->
                                            <!--begin::Stats-->
                                            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
                                                <div class="fs-4 fw-bolder text-gray-700">
                                                    <span class="w-50px">188</span>
                                                    <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-up.svg-->
                                                    <span class="svg-icon svg-icon-3 svg-icon-success">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                                            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
                                                                            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
                                                                        </g>
                                                                    </svg>
                                                                </span>
                                                    <!--end::Svg Icon-->
                                                </div>
                                                <div class="fw-bold text-gray-400">Open</div>
                                            </div>
                                            <!--end::Stats-->
                                        </div>
                                    </div>
                                    <!--end::Card body-->
                                </div>

                                <div class="d-flex flex-stack fs-4 py-3">

                                    <div class="fw-bolder rotate collapsible" data-bs-toggle="collapse" href="#kt_user_view_details" role="button" aria-expanded="false" aria-controls="kt_user_view_details">Details
                                        <span class="ms-2 rotate-180"><span class="svg-icon svg-icon-3">
                                                <svg xmlns="http://www.w3.org/2000/svg"  width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon points="0 0 24 0 24 24 0 24" />
                                                        <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999)" />
                                                    </g>
                                                </svg>
                                        </span></span>
                                    </div>

<!--                                    <span data-bs-toggle="tooltip" data-bs-trigger="hover" title="Edit customer details">-->
<!--                                        <a href="#" class="btn btn-sm btn-light-primary" >Edit</a>-->
<!--                                    </span>-->

                                </div>

                                <div class="separator"></div>

                                <!---- Детали ----->
                                <div id="kt_user_view_details" class="collapse show">
                                    <div class="pb-5 fs-6">

                                        <div class="mt-3" style="display: flex">
                                            <div class="fw-bolder" style="width: 110px">User ID</div>
                                            <div class="text-gray-600" style="margin-left: auto">{{currentUser.id}}</div>
                                        </div>

                                        <div class="mt-3" style="display: flex">
                                            <div class="fw-bolder" style="width: 110px" >Email</div>
                                            <div class="text-gray-600" style="margin-left: auto">
                                                <a href="#" class="text-gray-600 text-hover-primary">
                                                 {{currentUser.email}}
                                            </a></div>
                                        </div>

                                        <div class="mt-3" style="display: flex">
                                            <div class="fw-bolder" style="width: 110px" > Телефон </div>
                                            <div class="text-gray-600" style="margin-left: auto"> {{currentUser.phone}} </div>
                                        </div>

                                        <div class="mt-3" style="display: flex">
                                            <div class="fw-bolder" style="width: 110px" > Адрес </div>
                                            <div class="text-gray-600" style="margin-left: auto"> {{currentUser.address}} </div>
                                        </div>

                                        <div class="mt-3" style="display: flex">
                                            <div class="fw-bolder" style="width: 110px"> Языки </div>
                                            <div class="text-gray-600" style="margin-left: auto"> English, Русский </div>
                                        </div>

                                        <div class="mt-3" style="display: flex">
                                            <div class="fw-bolder" style="width: 110px">Регистрация</div>
                                            <div class="text-gray-600" style="margin-left: auto">{{currentUser.created_at}}</div>
                                        </div>

                                        <div class="mt-3" style="display: flex">
                                            <div class="fw-bolder" style="width: 110px">Визит (in)</div>
                                            <div class="text-gray-600" style="margin-left: auto">{{currentUser.visit_start}}</div>
                                        </div>

                                        <div class="mt-3" style="display: flex">
                                            <div class="fw-bolder" style="width: 110px">Визит (exit)</div>
                                            <div class="text-gray-600" style="margin-left: auto">{{currentUser.visit_end}}</div>
                                        </div>

                                        <div class="mt-3" style="display: flex">
                                            <div class="fw-bolder" style="width: 110px"> Статус </div>
                                            <div class="text-gray-600" style="margin-left: auto">{{currentUser.status}}</div>
                                        </div>

                                        <div class="mt-3" style="display: flex">
                                            <div class="fw-bolder" style="width: 110px"> Роль </div>
                                            <div class="text-gray-600" style="margin-left: auto">{{ currentUser.role }}</div>
                                        </div>

                                        <div class="mt-3" style="display: flex">
                                            <div class="fw-bolder" style="width: 150px">Подтверждение email</div>
                                            <div class="text-gray-600" style="margin-left: auto">{{currentUser.email_verified_at}}</div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!------- ./ ЛЕВЫЙ БЛОК  -------->
                    <!---####################### --->

                    <!---####################### --->
                    <!-------  ПРАВЫЙ БЛОК   -------->
                    <div class="flex-lg-row-fluid ms-lg-15">

                        <!----- TAB MENU LIST -->
                        <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-8">
                           <template v-for="(tabItem, i) in tabMenuList">
                             <li @click="selectTabItem(tabItem, i)" class="nav-item">
                                <a class="nav-link text-active-primary pb-4" style="cursor: pointer"
                                   :class="[tabItem.active ? 'active' : '']">{{tabItem.title}} </a>
                             </li>
                           </template>
                        </ul>
                        <!----- ./ TAB MENU LIST  -->

                        <!----- TAB CONTENT ----->

                        <div class="tab-content " id="myTabContent">
                          <div class="tab-content-panel" >

                            <template v-if="tabName == 'user_info'">
                                <!-- Основная информация -->
                                <GeneralInfo />
                                <!-- ./ Основная информация -->
                            </template>
                            <template v-else-if="tabName == 'photos'">
                                <!---- Фотографии -->
                                <div class="card pt-4 mb-6 mb-xl-9">
                                    <div class="card-header border-0">
                                      <div class="card-title"><h2> Фотографии </h2></div>
                                    </div>
                                    <div class="card-body pt-0 pb-5">
                                        <div class="separator separator-dashed my-2" ></div>
                                        <file-loader
                                          title="Выбрать фотографии"
                                          func_name="photoLoading"
                                          field_name="photo"
                                          load_type="preview"
                                          file_type="photo"
                                          :data="{ user_id: currentUser.id }"
                                          @send_response="photoLoadingResponse" />
                                        <div class="separator separator-dashed my-5"></div>
                                        <div class="card-title"><h2> Мои фотографии </h2></div>
                                        <PhotoGallery :photos="currentUser?.photos"/>
                                    </div>
                                </div>
                                <!---- Фотографии -->
                            </template>
                            <template v-else-if="tabName == 'files'">

                                <!------ Файлы  ----->
                                <div class="card pt-4 mb-6 mb-xl-9">

                                    <!--begin::Card header-->
                                    <div class="card-header border-0">
                                      <div class="card-title"><h2> Файлы </h2></div>
                                      <div class="card-toolbar">
                                        <button type="button" class="btn btn-sm btn-flex btn-light-primary" >
                                                  <span class="svg-icon svg-icon-3">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                          <path opacity="0.25" d="M13.1409 21.8611C11.5331 21.7101 10.3267 20.4628 10.2092 18.8523C10.0992 17.3432 10 15.118 10 12C10 8.882 10.0992 6.65682 10.2092 5.14773C10.3267 3.5372 11.5331 2.2899 13.1408 2.13886C13.9779 2.06022 14.9589 2 16 2C17.0411 2 18.0221 2.06022 18.8592 2.13886C20.4669 2.2899 21.6733 3.53721 21.7908 5.14773C21.9008 6.65683 22 8.882 22 12C22 15.118 21.9008 17.3432 21.7908 18.8523C21.6733 20.4628 20.4669 21.7101 18.8591 21.8611C18.0221 21.9398 17.0411 22 16 22C14.9589 22 13.9779 21.9398 13.1409 21.8611Z" fill="#12131A" />
                                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.20711 14.7929C7.59763 15.1834 7.59763 15.8166 7.20711 16.2071C6.81658 16.5976 6.18342 16.5976 5.79289 16.2071L2.29289 12.7071C1.90237 12.3166 1.90237 11.6834 2.29289 11.2929L5.79289 7.79289C6.18342 7.40237 6.81658 7.40237 7.20711 7.79289C7.59763 8.18342 7.59763 8.81658 7.20711 9.20711L5.41421 11H15C15.5523 11 16 11.4477 16 12C16 12.5523 15.5523 13 15 13L5.41421 13L7.20711 14.7929Z" fill="#12131A" />
                                                      </svg>
                                                  </span>
                                          Sign out all sessions
                                        </button>
                                      </div>
                                      <!--end::Card toolbar-->
                                    </div>
                                    <!--end::Card header-->

                                    <!--begin::Card body-->
                                    <div class="card-body pt-0 pb-5">

                                      <div class="separator separator-dashed my-5" ></div>

                                      <file-loader
                                        title="Выбрать файлы"
                                        func_name="fileLoading"
                                        field_name="file"
                                        load_type="preview"
                                        file_type="file"
                                        :data="{ user_id: currentUser.id }"
                                        @send_response="fileLoadingResponse"
                                      />

                                      <div class="separator separator-dashed my-5"></div>


                                    </div>
                                    <!--end::Card body-->

                                  </div>
                                <!------ Файлы  ----->

                            </template>
                            <template v-else-if="tabName == 'friends'">

                                   <!----- Друзья ----->
                                  <div class="card card-xl-stretch mb-xl-8">

                                    <div class="card-header border-0">
                                      <h3 class="card-title fw-bolder text-dark"> Мои друзья </h3>
                                      <div class="card-toolbar"></div>
                                    </div>

                                    <div class="separator separator-dashed mb-4" ></div>

                                    <div class="card-body pt-2">
                                        <div v-for="(item) in currentUser.friends" class="d-flex align-items-center mb-7">
                                          <div class="symbol symbol-50px me-5">
                                            <set-show-avatar :item="item"/>
                                          </div>
                                          <div class="flex-grow-1">
                                            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6"> {{item.username}} </a>
                                            <span class="text-muted d-block fw-bold"> {{item.email }} </span>
                                          </div>
                                        </div>
                                    </div>

                                  </div>
                                  <!----- Друзья ----->

                            </template>

                          </div></div>
                        <!----- ./ TAB CONTENT ----->

                    </div>
                    <!------ ./ ПРАВЫЙ БЛОК   -------->
                    <!---####################### --->

                </div>
            </div>
        </div>
        <!--- begin:: PAGE CONTENT   -->

    </div>
 </site-layout>
</template>

<script setup >

import GeneralInfo from "@/components/user/GeneralInfo.vue";
import PhotoGallery from '@/components/user/PhotoGallery';

import {computed, ref} from "vue";

import useMainImport from "@/composables/useMainImport.js";
const { API_ROUTES, userStore, messengerStore, useMain } = useMainImport();
const { setFileUrl, sendRoute } = useMain()

const tabName = ref('user_info')

const tabMenuList = [
  { name : 'user_info', title: "Основная информация", active: true },
  { name : 'photos', title: "Фотографии" },
  { name : 'files', title: "Файлы" },
  { name : 'friends', title: "Друзья" },
];

const currentUser = computed(() => {
    return userStore.currentUser;
})


const selectTabItem = (tabItem, i) => {
     tabName.value = tabItem.name
     tabMenuList.map(item => {
        item['active'] = (item.name == tabItem.name) ? true : false;
     })
}

const changeAvatarResponse = (response) => {
    const {status, data } = response;
    if(status) userStore.currentUser.avatar = data?.path;
}

const photoLoadingResponse = (response) => {
    userStore.getCurrentUser()
}

const fileLoadingResponse = (response) => {

}

</script>

<style scoped>

.preview-photos-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.preview-photo-item {
    padding: 4px;
    width: 20%;
}

.tab-content-panel {
    /*border: 1px red solid;*/
}

</style>
