<template>
  <div class="header align-items-stretch">
    <div class="container-fluid d-flex align-items-stretch justify-content-between">

      <!----- МОБИЛЬНОЕ МЕНЮ ----->
      <div class="mobile-menu-container">
          <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
            <router-link to="/" class="d-lg-none">
              <img alt="Logo" src="@/assets/img/logo-3.svg" class="h-30px" style=""/>
            </router-link>
          </div>
          <div class="header-menu align-items-stretch top-mobile-menu" style="display:block;" >
            <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary
                      menu-state-icon-primary menu-state-bullet-primary  menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch">

              <template v-for="(menu) in topMenu">
                <div class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
                  <router-link :to="menu.url" class="menu-link" active-class="active">
                    <span class="menu-title"> {{ menu.title }} </span>
                  </router-link>
                </div>
              </template>

            </div>
          </div>
      </div>
      <!----- ./ МОБИЛЬНОЕ МЕНЮ ----->

      <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">

        <!-----  ВЕРХНЕЕ МЕНЮ  (левая часть)    ----->
        <div class="d-flex align-items-stretch">
          <div class="header-menu align-items-stretch">
            <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700  menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch">

              <div class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2"
                   style="margin-right: 50px !important;">
                   <router-link to="/" class="d-lg-none1" style="padding-top: 15px">
                     <img alt="Logo" src="@/assets/img/logo-3.svg" class="h-30px"/>
                   </router-link>
              </div>

              <template v-for="(menu) in topMenu">
                <div class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
                  <router-link :to="menu.url" class="menu-link" active-class="active">
                    <span class="menu-title"> {{ menu.title }} </span>
                  </router-link>
                </div>
              </template>

            </div>
          </div>
        </div>
        <!-----  ./ ВЕРХНЕЕ МЕНЮ  (левая часть)  ----->

        <!----  МЕНЮ ПОЛЬЗОВАТЕЛЯ (правая часть)   ----->
        <div class="d-flex align-items-stretch flex-shrink-0">
          <div class="d-flex align-items-stretch flex-shrink-0">

            <template v-if="currentUser?.id">
                <div class="menu-item py-5">
                  <router-link to="/user/register" class="menu-link right-menu">Регистрация</router-link>
                </div>
                <div class="menu-item py-5">
                  <router-link  to="/user/logout" class="menu-link right-menu" >Выйти</router-link>
                </div>
                <div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
                  <div class="cursor-pointer symbol symbol-30px symbol-md-40px">
                    <set-show-avatar :item="userStore.currentUser"></set-show-avatar>
                  </div>
                </div>
            </template>
            <template v-else>
                <div class="menu-item py-5">
                  <router-link to="/user/register" class="menu-link right-menu">Регистрация</router-link>
                </div>
                <div class="menu-item py-5">
                  <router-link to="/user/login" class="menu-link right-menu">Войти</router-link>
                </div>
            </template>
          </div>

      </div>
        <!----  ./ МЕНЮ ПОЛЬЗОВАТЕЛЯ (правая часть) ----->

      </div>

    </div>
  </div>
</template>

<script setup>

import {computed} from "vue";

import useMainImport from "@/composables/useMainImport.js";
const {userStore} = useMainImport();

const currentUser = computed(() => {
  return userStore.currentUser;
})

const topMenu = [
  {url: '/', title: 'Главная' },
  {url: '/user/profile', title: 'Профиль'},
  {url: '/chat-messenger', title: 'Chat Messenger'},
]

</script>

<style scoped>

.right-menu {
  font-weight: 700;
  color: #b0c5de;
}

.right-menu:hover {
   color: royalblue;
}

.mobile-menu-container {
    display: none;
    margin-top: 15px;
}

.top-mobile-menu {
  margin-top: 10px;
  left: 0px !important;
  /*border:2px gainsboro solid;*/
  /*background: red;*/
}

.top-mobile-menu .menu {
  background: white;
  border: 1px #b0c5de solid;
}

@media (max-width: 992px) {
  .mobile-menu-container {
    display: block;
  }
}


</style>
