<template>

  <router-view></router-view>

  <div class="modal fade" id="kt_modal_send_http_error" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-650px"><div class="modal-content">
            <div class="modal-header flex-stack">
                <h2> SEND HTTP ERROR </h2>
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>

            <div class="modal-body scroll-y pt-10 pb-15 px-lg-17">
                <div data-kt-element="options"><div class="text-gray-400 fs-5 fw-bold mb-10" style="color: red">
                       <pre style="color: red" >{{errorData}}</pre>
                </div></div>
            </div>

  </div></div></div>

</template>

<script setup >

import {ref} from "vue";

import tineEmitter from 'tiny-emitter/instance'

import { useUserStore } from '@/store/user.js'
const userStore = useUserStore()

import useMessenger from "@/composables/useMessenger.js";
const { getUserMessagePusher, getGroupMessagePusher } = useMessenger();

import usePusher from '@/composables/usePusher.js';
const pusher = usePusher()

import usePusherEcho from '@/composables/usePusherEcho.js';
const pusherEcho = usePusherEcho();

const errorData = ref({})

tineEmitter.on('SEND-HTTP-ERROR', response => {
    errorData.value = response;
    modalToggle('kt_modal_send_http_error', 'show')
})

const modalToggle = (modalId, action = 'hide') => {
    $('#' + modalId).modal(action)
}

//##############################
// ---------- CREATED ----------

// --- init страницы после перезагрузки
userStore.initPage(authStatus => {
    if(authStatus) {
        pusherEcho.listen();
    }
});

// --- Получаем сообщение из канала для пользователей
tineEmitter.on('USER-NEW-MESSAGE', newMessage => {
    getUserMessagePusher(newMessage)
})

// --- Получаем сообщение из канала для групп
tineEmitter.on('GROUP-NEW-MESSAGE', newMessage => {
    getGroupMessagePusher(newMessage);
})

// --- Вошел новый пользователь
tineEmitter.on('ADD-NEW-MEMBER', user => {
    console.log('Вошел новый пользователь', user);
})

// --- Пользователь вышел из системы
tineEmitter.on('DELETE-MEMBER', user => {
    console.log('Пользователь вышел из системы', user);
})


</script>

<style lang="less" scoped>

</style>
